[2018-11-24 14:25] mcchrish opened #1 "Add option to not create mapping"
And add instruction to create custom mapping.

[2018-11-25 01:46] #1 closed

[2018-11-26 07:34] mcchrish opened #4 "Support custom splits/window/tab"

[2018-11-26 07:51] hatelove85911 opened #5 "Not working! Screen flashes, nothing happens."
I'm using

- terminal vim: version 8.1.72
- plugin manager: vim plug
- nnn: 2.1
- macOs: 10.14.1

When I type `:Np` in vim, screen flashes a bit, then nothing happens. There's no message in `:messages` commands

[2018-11-26 13:30] mcchrish commented on #5
@hatelove85911 I can't seem to replicate it. However I've changed things a bit in vim to use the built-in terminal to open nnn (same as neovim now). Commit https://github.com/mcchrish/nnn.vim/commit/ff4c3f3919df4abf5c2ce2ea83c0d33fe8c32bb4. So the behavior have changed a bit. Can you please try the latest master?

[2018-11-26 14:20] hatelove85911 opened #6 "How to pick new files and edit the picked file in current vim instance?"
it seems when I press `e` on a file in nnn, it launches a new instance of vim. It's not editing the picked file in the current instance of vim.

So I cannot have multiple buffer editing in one VIM instance.
What I want is something like [ranger](https://github.com/francoiscabrol/ranger.vim),

1. I open the file browser
2. choose one file to edit
3. the buffer for the file is added into current vim

[2018-11-26 14:21] hatelove85911 commented on #5
@mcchrish I'll try the new version tomorrow on my corporate PC and let you know the result.

[2018-11-26 18:09] KillTheMule commented on #6
Check out https://github.com/mhinz/neovim-remote/.

[2018-11-26 19:30] jarun commented on #6
I am the one who should be responding here. I chose to keep the behaviour of `nnn` intact even when it's opened from `vim`. In your use case the entry selected is the one that would be opened in vim. You quit `nnn` and the file would be opened.

I understand you are used to ranger. However, `nnn` is not ranger. If it were, I would have wasted a year of my life. In my use-case I want to play a [Bac

[2018-11-27 10:24] grzkv opened #8 "Segmentation fault on run"
I get this
[code]
when running `:NnnPicker` in vim.

Here's my system:

- iTerm2 build 3.2.3
- vim 8.1.350
- macOS HighSierra 10.13.6
- installed using vim plug
- nnn.vim commit 2389259d57d789214a5abfcbb8bc31a2d4b9996d

[2018-11-27 12:21] mcchrish commented on #8
@grzkv do you have a minimum `vimrc` to reproduce the issue?

I'm using the latest **stable** vim:

<details>
<summary>vim version</summary>

[code]

</details>

[2018-11-27 12:54] mcchrish opened #9 "screenshots"
![screen shot 2018-11-27 at 8 50 19 pm](https://user-images.githubusercontent.com/7200153/49082961-224fe180-f286-11e8-982d-7465332e61ec.png)

[2018-11-27 12:54] #9 closed

[2018-11-27 13:00] mcchrish commented on #9
![screen shot 2018-11-27 at 8 59 31 pm](https://user-images.githubusercontent.com/7200153/49083382-5ed00d00-f287-11e8-9f94-77fa548deb72.png)

[2018-11-28 01:51] mcchrish opened #10 "layout configuration à la fzf"
[code]

edit: also add backwards compatibility

[2018-11-28 01:56] wookayin opened #11 "Screen flashes: illegal option --p"
Maybe related to #5, but not sure.

When executing `:Np`, the terminal just opens and immediately closes with an error.

[code]

In https://github.com/mcchrish/nnn.vim/blob/master/plugin/nnn.vim#L55: `nnn -p` is used, but `nnn` has no such option. Maybe it has been removed in recent versions?

I was using `nnn 2.1` on macOS.

[2018-11-28 02:09] mcchrish commented on #11
@wookayin hmm, seems like it.

cc @jarun

I was using recent master version of nnn. But installing the one from homebrew doesn't have the `-p` option.

[2018-11-28 02:13] mcchrish commented on #11
@jarun I wonder why it's a screenflash rather than logging an error in vim. Is passing illegal options/params in nnn exits non-zero code?

[2018-11-28 02:14] wookayin commented on #11
Of course. Any CLI program is supposed to do this.

[2018-11-28 02:49] jarun commented on #11
Fixed at https://github.com/jarun/nnn/commit/8cba83f43f7fca3f73698872da4e7f7c03faea38.

[2018-11-28 02:52] wookayin commented on #11
I see, I had checked nnn wrong -- it was not giving an non-zero exit code :) Thanks for the help!

BTW why homebrew nnn doesn't have the `-p` option?

[2018-11-28 02:53] jarun commented on #11
The vim support was added after v2.1 release. Please wait for v2.2.

[2018-11-28 03:55] mcchrish commented on #10
closed in https://github.com/mcchrish/nnn.vim/commit/238b1e2693fc66bb210aea0784fa5e1e97300add

[2018-11-28 03:55] #10 closed

[2018-11-28 08:38] viartemev opened #12 "NnnPicker command doesn't work"
Hi.
When I run `:NnnPicker` something blink and nothing happening.
My vim config:
[code]

[2018-11-28 09:13] mcchrish commented on #12
@viartemev could be related to https://github.com/mcchrish/nnn.vim/issues/11 and https://github.com/mcchrish/nnn.vim/issues/5

If you don't mind, can you build nnn from the latest master? `brew install nnn --HEAD` and see if it works.

[2018-11-28 09:58] viartemev commented on #12
@mcchrish yep, it works 👍

[2018-11-28 10:01] mcchrish commented on #12
Closing this issue, please follow the related issues for updates.

[2018-11-28 10:01] #12 closed

[2018-11-28 10:18] mcchrish opened #13 "nnn#layout à la fzf#layout"
[code]

[2018-11-28 20:40] wookayin commented on #11
I wish there were some option that allows nnn to print the path (to stdout) upon keypress of <kbd>Enter</kbd> rather than directly opening it. I thought `-p` is the right guy for this. In such cases, the plugin integration can go very smooth. Actually it goes with [the Unix philosophy](https://en.wikipedia.org/wiki/Unix_philosophy).

If it is not the case, one might think of having a keymap overri

[2018-11-28 20:52] mcchrish commented on #11
@jarun just sent an invite.

[2018-11-29 00:03] grzkv commented on #8
[Here's](https://github.com/grzkv/dotfiles/blob/b3241a972b38b75eb2d83aaa5b3918086c0185fd/.vimrc) the `vimrc` that got this behavior.

[2018-11-29 03:44] jarun commented on #11
@wookayin I don't want to change the default behaviour of `nnn` and add a hook. I have explained this before.

- `nnn` has been extended to pick files without hurting any existing functionality
- The `Enter` key opens a file or directory in `nnn`. I would like to keep the experience same for users of `nnn`.
- There is a clear way of _selecting_ files in `nnn` and users should follow that
- The `En

[2018-11-29 14:16] grzkv commented on #8
Here's the detailed dump of `vim` version

[code]

[2018-11-29 14:19] jarun commented on #11
Guys, I reconsidered the request and found a way to meet the ends. Pressing Enter or ^M will now _pick_ the file and pressing right/l will open it (as in `nnn`).

[2018-11-30 01:02] jarun commented on #11
I believe we can close this defect as @wookayin's problem is resolved.

[2018-11-30 01:02] #11 closed

[2018-11-30 01:36] mcchrish commented on #5
closing this. It's a problem in nnn please wait for 2.2 release or build nnn from master.

[2018-11-30 01:36] #5 closed

[2018-11-30 03:57] jarun opened #17 "Error on opening nnn second time"
Steps:

While testing the plugin I noticed another issue:

1. opened a file in vim: `vim src/nnn.c`
2. Navigated up and used multi-select (^Y-^Y) to select 3 files
3. Pressed `q` (`nnn` opened a blank file here, probably the current issue we are discussing)
4. Pressed `\n` again

Seeing an error message highlighted in red. Please check.

[2018-11-30 04:08] mcchrish commented on #17
After getting the error, what is the content when you run `:messages`?

[2018-11-30 04:31] jarun commented on #17
I am not at my system now. Please check if you can reproduce. If not, I will share after i am back. 8 to 9 hrs.

[2018-11-30 09:22] smartmic opened #20 "Unknown function term_start"
I just installed the latest _nnn_ release and tried to get _nnn.vim_ working but `:NnnPicker` failed with this message:
![2018-11-30-10-19-06_scrot](https://user-images.githubusercontent.com/6379140/49280161-bf2e9c80-f489-11e8-871f-ccce635c303f.png)

[2018-11-30 09:42] jarun commented on #20
vim plugin support is not available in the latest `nnn` release. Please wait for the next next release of try master (to get your hands dirty). ;)

[2018-11-30 09:59] mcchrish commented on #20
@smartmic what's the version of your vim? This plugin uses the vim terminal feature so it means it needs a recent version of vim. Or use neovim.

[2018-11-30 11:09] smartmic commented on #20
@mcchrish I use version 8.0 von vim:
VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Sep 30 2017 18:21:38)
Included patches: 1-197, 322, 377-378, 550, 703, 706-707

[2018-11-30 11:15] smartmic commented on #20
@jarun thanks, I will do so.

[2018-11-30 11:43] mcchrish commented on #20
@smartmic I think vim 8.0 adds async feature while 8.1 adds terminal.

[2018-11-30 11:43] #20 closed

[2018-11-30 15:08] jarun commented on #17
My observations:

1. default beahviour: if I load vim without plugins:

    vim -u NONE src/nnn.c
and press `<leader> n`, I get the message:

    E35: No previous regular expression

2. With latest plugin, when I run the original test, I get the error:

    E486: Pattern not found: termux

3. If I close the file file from selection and press `<leader> n`, I get:

[code]

This is the best I can do

[2018-12-01 04:52] jarun commented on #17
My leader key is `\`. I guess the default. Can you try with `\` as leader key?

[2018-12-01 04:55] jarun commented on #17
OK, I also have the following in my `.vimrc`:

[code]

[2018-12-01 05:08] jarun opened #21 "Please confirm behaviour"
Noticing the following in vim status with master `nnn.vim`:

[code]

Steps:

- I opened src/nnn.c
- Pressed `<leader> n`
- Selected the listed after `src/nnn.c` above
- Pressed Enter on CHANGELOG

CHANGELOG is opened and I see the above listing in status line with `:args`

Confirm if the above behaviour is correct.

Also, when I am closing I see only 2 files opened: CHANGELOG and LICENSE (neither

[2018-12-01 08:55] mcchrish commented on #21
Seems right. But for me when pressing enter on CHANGELOG it's not the one displayed in the window but the first item that was selected in nnn. In this case `nnn.1` while the CHANGELOG is in the buffer list.

[2018-12-01 09:00] mcchrish opened #22 "Allow custom nnn command"
Useful when trying to pass env variables or adding some command flag.

[code]

[2018-12-01 09:02] jarun commented on #21
Thanks for confirming!

[2018-12-01 09:02] #21 closed

[2018-12-01 12:12] jarun commented on #17
Any luck with this with the settings in .vimrc?

[2018-12-01 17:07] jarun commented on #17
This seems to be fixed with latest master.

[2018-12-01 17:07] #17 closed

[2018-12-03 11:05] esn89 opened #24 "Minimum version 2.2?"
2.1 is the current version

[2018-12-03 11:16] jarun commented on #24
Please wait till the next release of `nnn`.

[2018-12-03 12:14] esn89 commented on #24
So I can't use this plugin atm?

[2018-12-03 12:30] mcchrish commented on #24
@esn89 you can use but we advice to build nnn from source for now. If you're in mac you can do `brew install nnn --HEAD` to install from latest master.

Also made note of this in the README:

[2018-12-03 12:30] #24 closed

[2018-12-03 12:30] jarun commented on #24
You can try `nnn` master.

[2018-12-15 23:00] mcchrish opened #25 "Create vim documentation :h nnn"

[2018-12-16 10:44] #25 closed

[2018-12-17 08:36] IonizingRadiation commented on #8
Same as @grzkv , I got segfault when using `<Leader>n` .

[code]

Here is my system infos

![image](https://user-images.githubusercontent.com/17506747/50075345-a5c37980-0219-11e9-9bb9-75ca4bf52d8e.png)

[2018-12-17 09:38] mcchrish commented on #8
@grzkv @IonizingRadiation segfault is almost always a vim bug. Not sure if there is much I can help since I can't replicate in mine. I'm just installed vim from homebrew `brew install vim` and running `:NnnPicker` works and opens nnn window. Have you tried with the latest stable vim?

<details>
<summary>My vim version</summary>

[code]

</details>

[2018-12-17 14:22] IonizingRadiation commented on #8
I just upgraded my `vim` via `brew` , the problem still persists.

<details><summary>my vim info</summary>
<p>

[code]

</p>
</details>

[2018-12-17 14:33] jarun commented on #8
Also, do you get the latest master via brew or v2.1?

[2018-12-17 14:40] IonizingRadiation commented on #8
I assigned `n` to `:TagbarToggle<CR>` , and it works well.

via `brew`

[2018-12-17 14:50] jarun commented on #8
Please try this:

hack the file `plugin/nnn.vim` and line 26:

    nnoremap <silent> <leader>n :NnnPicker<CR>
change to
    nnoremap <silent> <leader>q :NnnPicker<CR>

Then see if `Leader->q` works for you.

Also, it seems brew is getting the released version 2.1. I was referring to the latest tip from https://github.com/jarun/nnn.

[2018-12-17 16:49] ldelossa opened #27 "opening up nested horizontal split overlaps other buffers"
How to repeat:

Open 4 buffers with in this format

| 1 | 2 |
_______
| 3 | 4 |

Now place your focus on on buffer 2. Open Nnn and use "ctrl-x" to open a horizontal split. This split will make 2, 5 (the new buffer) and 4 overtake 1 and 2.

I used the key mappings in the readme to get ctrl-x to work.

If I just play around with the opening in splits, the behavior is strange. Sometimes if I focus on

[2018-12-17 17:51] IonizingRadiation commented on #8
@jarun I think I may mislead you:cry:, I mean, no matter which shortcut to bind, the command `:NnnPicker` would cause segfault. Sorry for my fuzzy expression :disappointed_relieved:

[2018-12-17 22:02] jarun commented on #8
No, that's fine. I think we get an idea of the beahviour:

- `Leader -> any key` crashes
- n assigned to `:TagbarToggle<CR>` works

@mcchrish does this info help in any way?

[2018-12-17 22:09] mcchrish commented on #8
@jarun yes. The issue is caused by the command `:NnnPicker`. Not on the key it's mapped.

It maybe a bug in the terminal vim feature (it's just recently added so maybe not stable yet). And maybe have to reported as a vim bug to the vim issue tracking.

@IonizingRadiation by any chance have you tried macvim? `brew uninstall vim && brew install macvim`.

[2018-12-18 07:31] IonizingRadiation commented on #8
I just tried `mvim`, it crashed when I ran `:NnnPicker` and opened another buffer.
When I am using other plugins like Tagbar or NERDTree, and run `:NnnPicker`, the terminal would display
<img width="308" alt="image" src="https://user-images.githubusercontent.com/17506747/50138479-bf2bfa80-02d9-11e9-8192-82895830a31e.png"> .

Need I provide more informations ?

[2018-12-18 19:43] mcchrish commented on #8
@IonizingRadiation thanks for testing macvim!
Have you tried installing nnn as the only plugin? Something like:

[code]

Then call `vim -u minimalrc` to load vim with a custom vimrc.

[2018-12-18 23:52] mcchrish commented on #27
So you mean the other buffer windows are being closed when opening a file via nnn using the custom action key-bindings? What's your vim/neovim version?

[2018-12-19 00:53] mcchrish opened #28 "It should open splits adjacent to the last active window"
When using actions like `<c-x>` to open splits, it should remember the last active buffer and split from there instead of the nearest split the nnn window was in.

[2018-12-27 10:07] olablt opened #29 "how to create a folder"
I am getting used to nnn.

<kbd>n</kbd> is to create a file. how can I create a folder?

[2018-12-27 10:08] #29 closed

[2018-12-28 00:50] mcchrish commented on #8
So it seems I'm able to replicate the issue with **nnn v2.1** but when install nnn from master it works as expected. `brew uninstall nnn && brew install nnn --HEAD`.
@IonizingRadiation can you try installing nnn from master?

@jarun if it is indeed a problem with 2.1 should we cut a release for 2.2. So that users in the stable channel can see the fix and we can start recommending installing from s

[2018-12-28 01:12] jarun commented on #8
Hey no problem! I'm planning to make a release on jan 01.

[2018-12-28 02:18] jarun opened #30 "Opening blank file second time"
Steps:

- `\n`, select file
- close file (`:q`)
- `\n` - instead on `nnn` selection view a blank file is opened

Environment:

vim v8.1
OS: Ubuntu 18.04 amd64
shell: bash and fish
nnn: master
nnn.vim: master

[2018-12-28 02:19] jarun commented on #30
I see the following error at the bottom after third step:

[code]

Both `nnn` and `nnn.vim` are latest master.

[2018-12-28 15:32] jarun commented on #30
Please check if this issue is due to the exit code from the first instance of `nnn`.

[2018-12-28 16:32] jarun commented on #30
Even without the override in .vimrc (https://github.com/mcchrish/nnn.vim/issues/30#issuecomment-450274949) I am seeing this issue.

[2018-12-29 05:13] IonizingRadiation commented on #8
@mcchrish It works now! Thank your very much!!

[2018-12-30 07:40] jarun commented on #30
@mcchrish any lead on this one?

[2018-12-30 09:01] mcchrish commented on #30
@jarun seems to be related to #17 and actually experiencing it. It maybe a related issue. It has something to do with the `curwin: 1` option of vim and the default `nnn#layout` `enew`.

[code]

The issue doesn't appear if it is set other than `enew`:

[code]

So I think a work around for now is to change `g:nnn#layout` to `tabedit` as the default for vim (or `topleft 80vnew` seems to be more conve

[2018-12-30 09:39] jarun commented on #30
If I remove all my plugins, I see the following behaviour:

I have file1 open in vim. On opening file2 using nnn.vim, when I close it, vim quits. I was expecting file1 to be left open. Is this the expected behaviour?

[2018-12-30 09:40] jarun commented on #30
If it's the correct behaviour, how do I keep the earlier file (file1) open?

[2018-12-30 09:46] jarun commented on #30
OK. You can reproduce the issue with https://www.vim.org/scripts/script.php?script_id=159.

This retains the earlier buffer/file1 and then I see the issue.

Please check.

[2018-12-30 10:39] mcchrish commented on #30
The plugin won't interfere with other buffers and always open a file as a new buffer. No buffers will be deleted. Running `:buffers` should list file1 and file2 in your use case.

[2018-12-30 10:49] jarun commented on #30
Did you face the issue with the  plugin?

[2018-12-30 10:54] jarun commented on #30
It should not error out the second time I press leader n and open nnn in picker mode.

maybe the problem is there is no file open in the buffer and the plugin can't determine the dir to open?

[2018-12-30 10:58] mcchrish commented on #30
Didn't face the issue with the plugin. The only thing I can reproduce is https://github.com/mcchrish/nnn.vim/issues/30#issuecomment-450547557. The second time I press `<leader>n` it doesn't open the nnn window. But when I change the value of `g:nnn#layout` to something else and seems to work as expected.

[2018-12-31 03:04] jarun commented on #30
@mcchrish please let me know if there's anything else I can help you with. I understand you can't reproduce but please try to analyze what's going wrong so we cn have a solution. The problem exists.

[2018-12-31 08:37] jarun commented on #30
I see this scenario working properly on Linux subsystem for Windows with vim 8.1. I will update the vim version on my de and confirm it.

[2018-12-31 13:45] jarun commented on #30
I am seeing this problem only when I use:

    vi file
and not when I use:

    vim file
I see that on my system (Ubuntu 18.04 amd64) `vi` is `/usr/bin/vi` which is a symlink to another file...

After adding the following to my shell's `rc` file I am not seeing this issue anymore:

    alias vi=vim

[2018-12-31 13:51] jarun commented on #30
I update to v8.1 on Ubuntu. The issue still exists.

[2018-12-31 23:49] mcchrish commented on #30
Thanks for the detailed information above. Sorry that the plugin is not working for you. I will be taking a look. I'd like to know more about some details of your system:

- OS: [e.g. macOS 10.14.2]
- Terminal: [e.g. iterm2 3.2.7beta2]
- Shell: [e.g. zsh 5.2.1, bash 4.1]
- Vim version: [e.g. neovim 0.3.2, vim 8.1 1-239]
- Plugin manager: [e.g. vim-plug, pathogen]
- Plugin version: master
- Nnn ver

[2019-01-01 01:16] jarun commented on #30
With this version, when I close the picked file using `nnn`, vim quits. Is this expected? I would expect the earlier file to be opened instead of vim quitting.

[2019-01-01 01:44] mcchrish commented on #30
I think that's expected with that version of minibufexpl. It seems to use only one window and doesn't override the `:q` command. To close a buffer without quitting vim run `:bdelete` or `:bd`.

[2019-01-01 01:47] jarun commented on #30
OK. Thanks!

[2019-01-01 01:47] #30 closed

[2019-01-01 02:12] mcchrish commented on #9
**Hi rez**

Original:
<img width="794" alt="screen shot 2019-01-01 at 10 07 21 am" src="https://user-images.githubusercontent.com/7200153/50569877-315a1000-0dad-11e9-8243-224d16334b21.png">

Compressed:
![screen shot 2019-01-01 at 10 07 21 am](https://user-images.githubusercontent.com/7200153/50569889-78480580-0dad-11e9-90b0-897ac4b5a3cb.png)

[2019-01-01 02:18] mcchrish commented on #9
**Hi rez v2**
Original
<img width="794" alt="screen shot 2019-01-01 at 10 16 14 am" src="https://user-images.githubusercontent.com/7200153/50569907-6adf4b00-0dae-11e9-930a-0236bb21c40b.png">

Compressed
![screen shot 2019-01-01 at 10 16 14 am](https://user-images.githubusercontent.com/7200153/50569909-73378600-0dae-11e9-9f9f-25348c9a3b70.png)

[2019-01-01 04:19] jarun commented on #30
@mcchrish `nnn` v2.2 is released. If you think the plugin is stable enough please consider making the first release.

[2019-01-01 04:49] mcchrish commented on #8
v2.2 released. Closing.

[2019-01-01 04:49] #8 closed

[2019-01-01 14:21] hkdd opened #31 "nnn.vim not loading"
**Describe the bug**

Loading nnn.vim via vundle
nnn version 2.1
vim version 8.1.575
(Both latest from Fedora repos)

When running :Np I see a brief flash (so fast I cannot read it) but the picker does not appear.  My vim does include terminal support (:term opens my terminal).

My terminal is urxvt and I can provide any additional details you need if you think that might be relevant.

**To Reprod

[2019-01-01 22:34] mcchrish commented on #31
@hkdd please update to nnn to version *2.2*. Duplicate of #5 #11

[2019-01-01 22:34] #31 closed

[2019-01-01 22:37] hkdd commented on #31
nnn 2.2 resolved the proble, thanks, mcchrish.

[2019-01-04 04:44] #28 closed

[2019-01-04 16:32] magicalbanana opened #34 "Opening Buffer Once"
**Is your feature request related to a problem? Please describe.**

Is it possible to open the `nnn` window once? So let's say, I have it open already, open a file and then start `nnn` again, I expect that it reuses the same window.

[2019-01-04 17:40] magicalbanana commented on #34
Actually, a simple solution would be if we open a file, we close the current buffer where `nnn` is open. How do we do that?

[2019-01-06 21:01] mcchrish commented on #34
Sorry if I miss understood the feature request, do you mean the nnn window stays open when opening a file? Something like a nerdtree sidebar?

[2019-01-10 06:33] thetarkus opened #35 "NnnPicker file select not working inside splits"
**Describe the bug**

Selecting a file from :NnnPicker inside of a split throws an error and then closes the split.

**To Reproduce**

1. Open vim
2. Run command `:sp`
3. Navigate to new split (`<C-w>j`)
4. Run `:NnnPicker` (in new split)
3. In NnnPicker, press enter on file I want to edit
4. Pressing enter on the error message closes the split

[code]

**Expected behavior**

File should open in t

[2019-01-11 03:33] #35 closed

[2019-01-11 03:41] mcchrish commented on #35
@thetarkus thanks for the bug report and suggestion. I actually like the concept and looks like the plugin is buggy with the use case. Just updated.

Also added a new behavior when nothing was selected when closing nnn, it switches backs to the last buffer of that window.

[2019-01-20 17:40] ldelossa commented on #27
@mcchrish

I went to retry this, but now I cannot get ctrl-x and crtl-v to open in a split. Is there a known issue? Here is my vimrc - https://github.com/ldelossa/dotfiles/blob/master/vimrc

When I attempt a ctrl-x in the nnn window, it simply opens the file in the current buffer, no split is used.

[2019-01-20 22:08] mcchrish commented on #27
Hi @ldelossa thanks for getting back on the issue. I'm able to replicate the bug.
I made a branch that contains a fix to be tested. You can test it using `Plug 'mcchrish/nnn.vim', { 'branch': 'fix-issue-27' }`.

[2019-01-21 17:11] ldelossa commented on #27
@mcchrish that did fix the issue. And now I can give a better example of the issue I face.

Open one buffer, and have nnn open a horizontal split:
![image](https://user-images.githubusercontent.com/5642902/51489080-49ea9400-1d75-11e9-9959-b7fa82e6ea05.png)

Now I put focus on the buffer below, and I open nnn, and I want to make a vertical split. My assumption is that the bottom buffer gets split i

[2019-01-22 00:42] mcchrish commented on #27
You can check the error my running `:messages`.

I think I got it fixed. It might be due to the split explorer feature I've added, and the internal logic of switching back previous buffer from the nnn buffer after opening a file. Do you mind testing again?

[2019-01-22 00:46] ldelossa commented on #27
@mcchrish looks like the issue is still there. It seems like any buffer manipulation I try that involves more then two spits (whether horizontal or vertical) results in only two buffers (the newly created split is just placed as a full length vertical or horizontal buffer with the other one currently in focus)

[2019-01-22 00:53] mcchrish commented on #27
I somehow able to replicate the issue, but fixed in the latest commit.

What's the output of `:messages` after seeing the issue? Can you reproduce it with a minimal vimrc? e.g.
[code]
Then `nvim -u minimalvimrc`

[2019-01-22 00:59] mcchrish commented on #27
<img width="1680" alt="screen shot 2019-01-22 at 8 54 59 am" src="https://user-images.githubusercontent.com/7200153/51505749-72c96280-1e23-11e9-9408-edae67ccfcf7.png">
I get this result afterwards. Steps:

1. open nvim
2. run `:NnnPicker`
3. open a file pressing `enter`
4. run `:NnnPicker`
5. open a file pressing `<c-x>` to open it in a split
6. focus on the split below
7. run `:NnnPicker`
8. open

[2019-01-22 01:05] ldelossa commented on #27
@mcchrish my fault, plug didn't update to the latest commit. This in fact working now!

Thanks this is a much better workflow now.

[2019-01-22 01:06] mcchrish commented on #27
@ldelossa welcome! and thanks for the detailed bug report.

[2019-01-22 01:06] ldelossa commented on #27
Anytime.

[2019-01-22 01:06] #27 closed

[2019-01-22 03:39] ldelossa opened #37 "Pressing "L" at leaf file should open file in buffer"
**Is your feature request related to a problem? Please describe.**
I am not sure this is a "problem" but more (I think) how nnn works outside of nnn.vim

A clear and concise description of what the problem is. Ex. I'm always
frustrated when [...]

When browsing through the filesystem using "H" and "L" when we reach a leaf file in the tree pressing "L" opens the system's default editor for the file

[2019-01-22 04:13] mcchrish commented on #37
This seems to be out of scope of the plugin since the nnn program handles the keybind *and* the context of the navigation. This behavior surprises me as well so I disable it by passing NNN environment variable to the command `let g:nnn#command = 'DISABLE_FILE_OPEN_ON_NAV=1 nnn'` or `let $DISABLE_FILE_OPEN_ON_NAV=1` in vimrc.

[2019-01-22 08:07] mcchrish commented on #37
You may take a look at the nnn documentation and see if you can configure nnn to your likings. https://github.com/jarun/nnn#configuration

[2019-01-22 08:07] #37 closed

[2019-01-30 15:55] rperryng opened #38 "~/.nnncp file not generated on copy"
**Describe the bug**

Hitting `<Space>` or `<C-k>` within the `nnn` buffer does not create the `DIR/.nnncp` file as described in the [docs for nnn](https://github.com/jarun/nnn#selection):

[code]

**To Reproduce**

Configuration:
[code]

Steps to reproduce:

1. Open vim
2. Open nnn buffer (`\n`)
3. Press key `<C-k>` or `<Space>`
4. Directory is echoed at the bottom of the nnn UI to signify it was

[2019-02-05 02:56] mcchrish commented on #38
See commit: https://github.com/mcchrish/nnn.vim/commit/c27ef90e642f019961d3337c647c30f28c8aef04

Example: https://github.com/mcchrish/dotfiles/commit/f1a217371d4970f5cef23447662bbf6f2411ebee

[2019-02-05 02:56] #38 closed

[2019-02-08 03:23] sainnhe opened #39 "Command prompt crashed"
**Describe the bug**

[cfb524ea5e1ecaa7c0eb0ab2fbb6675e298eb31d](https://github.com/jarun/nnn/commit/cfb524ea5e1ecaa7c0eb0ab2fbb6675e298eb31d) in master branch changed ^S to ^P to show the command prompt. And after I type ^P and execute a command, nnn.vim crashed.

**To Reproduce**

**most minimal configuration**:

[code]
0. Compile and install nnn from master branch.
1. Open vim (or nvim)
2. Run

[2019-02-10 03:40] mcchrish commented on #39
I'm able to replicate it. It doesn't seem to work with non-login shells?

I'm using iTerm in macOS and another way to replicate the issue is passing `nnn` as command, as I assume it runs as a non-login shell. My knowledge on shell environment behaviors is currently limited so I might not able to help.
<img width="535" alt="screen shot 2019-02-10 at 11 25 55 am" src="https://user-images.githubuserc

[2019-02-10 03:43] jarun commented on #39
@sainnhe are you saying `^S` used to work but `^P` has the issue?

[2019-02-10 03:48] jarun commented on #39
OK, I see the UI breaks.

[2019-02-10 04:29] #39 closed

[2019-02-10 04:29] jarun commented on #39
Please check if the issue is fixed with `nnn` master.

[2019-02-10 04:40] mcchrish commented on #39
@jarun tested and works! 👍

[2019-02-10 04:44] jarun commented on #39
Awesome! Now we are using the stock prompt instead of the libreadline one when `nnn` is started in file picker mode.

[2019-02-10 06:31] sainnhe commented on #39
@jarun Thanks for your work!!

[2019-02-10 06:34] jarun commented on #39
My pleasure!

[2019-02-24 16:32] jarun commented on #34
If you start with `nnn` (and not vim), the instance will be open in the background even if you spawn another instance of `nnn` as a picker. To achieve what you are looking for, all the `nnn` instances (including the first one) should be pickers. `nnn` picks and quits.

[2019-02-24 16:32] #34 closed

[2019-02-25 15:07] superDuperCyberTechno opened #40 "Doesn't open in Vim"
**Describe the bug**

Pressing `Enter` or `L` doesn't open the file in the current running Vim. It uses different applications depending on the file.

**To Reproduce**
1. Open Vim
2. Run command 'NnnPicker'
3. Open file (using `L` or `Enter`)

**Expected behavior**

Open the file for editing in the currently running (Neo)Vim instance

**Extra info**

This is probably not a bug in the software but

[2019-02-26 10:00] jonwalstedt opened #41 "NNN.vim throws error after renaming or deleting a file"
**Describe the bug**
After using nnn.vim to rename or delete a file in the same buffer nnn throws an error when I try to open another file:

[code]

Expected result would be to open the next file without throwing an error.

**To Reproduce**

Steps to reproduce the behavior and with the **most minimal configuration**.
With only nnn.vim installed and additional configurations/plugins that helps repr

[2019-02-27 08:29] mcchrish commented on #40
You'd probably want to disable the `L` open on navigate feature, I personally find it unnatural to use. You can disable it by defining the env variable `let $NNN_RESTRICT_NAV_OPEN=1`.

For the `enter` however, do you have a way to reproduce it with a minimal vimrc?

[2019-02-27 08:38] superDuperCyberTechno commented on #40
Yep. Disabled everything except nnn.vim. Pressing enter on a source file simply opens it in a seperate application; PHP files are opened in `less`, JSON on the browser...  Bash variables `EDITOR` and `VISUAL` are set to `nano`

[2019-02-27 08:41] mcchrish commented on #40
Do you have any other configuration set for nnn outside of vim? e.g. env variables in shell.

[2019-02-27 08:42] superDuperCyberTechno commented on #40
Not for `nnn`, no. I just installed nnn via apt and plugged nnn.vim.

[2019-02-27 08:54] superDuperCyberTechno commented on #40
Just realized I'm running nnn 1.9 and you specifically list 2.2 as a requirement...

[2019-02-27 08:54] mcchrish commented on #41
Could be a bug in nnn itself. Nnn probably still have the deleted file in the temp file used in picker mode. @jarun

I can update the plugin so that it checks for existence of file before opening but I'm wondering if it's can also be done by nnn program.

[2019-02-27 08:56] mcchrish commented on #40
Got it. I'll let you close the issue if you think there is no problem with the latest version.

[2019-02-27 08:57] superDuperCyberTechno commented on #40
I'll just verify before closing.

[2019-02-27 09:03] mcchrish commented on #41
Nevermind, I think it's a bug in the plugin.

[2019-02-27 10:00] superDuperCyberTechno commented on #40
As of 2.3 it still opens in a seperate editor when using `L` if not disabled.

`Enter` works as expected.

[2019-02-27 11:41] #40 closed

[2019-02-27 15:21] ldelossa commented on #37
@mcchrish did this stop working in recent releases? I have that config in my vimrc but nnn.vim seems to open the file regardless.

[2019-02-27 23:57] mcchrish commented on #37
The environment variable was changed to something else in nnn v2.3 it seems:
https://github.com/mcchrish/nnn.vim#environment-variables

[2019-03-02 16:49] banminkyoz commented on #41
Hi there, thank you very much for suck awesome plugin. I just have a question so i don't want to open an issue. Please help me.

I start at `~/Document`

Then press 2 and go to `~/Document/test/src/test.js`. Press enter

NNN closed and open test.js

But when i trigger `<leader>n` again to open nnn. It's alway forgot the last path i open in 1,2,3,4. @@.

Can i config something for nnn.vim to rememb

[2019-03-02 17:46] jarun commented on #41
Each context (1, 2, 3, 4) remembers it's own path. Can you explain a bit
more?

osx). When i slice to go back to nvim. h, j, k, l just work as nnn is an
text file.

I am not on OS X. Can you please raise an issue for this?

Regards,

Arun

On Sat, Mar 2, 2019 at 10:19 PM Kyoz <notifications@github.com> wrote:

[2019-03-02 19:18] jarun commented on #41
OK, sorry. I didn't notice this was for the plugin. Please ignore my last answer.

In picker mode, `nnn` quits once you select a file. So the last instance you opened is gone.

@mcchrish Can the plugin do anything to remember the path? `nnn` supports a positional argument as path.

I am not sure I understand the second issue. Not on OS X,

[2019-03-03 02:14] mcchrish commented on #41
@jarun @banminkyoz the closes thing to that feature is using `nnoremap <leader>n :NnnPicker '%:p:h'<CR>` to open nnn in the current directory of the file in focus. But not quite what you have describe.

But I agree, the plugin can have a mechanism of remembering the last path.

@banminkyoz please open an issue with a feature request template so that #41 will not go out of topic.

You are probably

[2019-03-03 02:15] kyoz opened #43 "Use one instance for nnn or remember nnn paths"
**Is your feature request related to a problem? Please describe.**

After select a file with `Enter`. nnn close and everything is reset when we reopen nnn again, everything is reset to default current path, see below gif:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/29815830/53689947-85747700-3d93-11e9-872b-d66cd361da48.gif)

**Describe the solution you'd like**

It's more

[2019-03-03 02:22] banminkyoz commented on #41
Lolll. How dumb am i. Well then this is not an issue. I'v open another issue so we can discuss about that.

[2019-03-03 21:20] jonwalstedt commented on #41
Any thoughts on the original issue that I reported, is this something that will be fixed? I would gladly try to do a fix my self but my vimscript skills are lacking :(

[2019-03-03 23:51] mcchrish commented on #41
It will be fixed, but I lack the time to do so. PR is always welcome though.
Initially, what I think is the problem is that when deleting a file that is opened as a buffer in vim, the plugin tries to switch back to that buffer and fails since it's not there anymore. Could be a only happening with split explorer feature, but needs investigate more.

[2019-03-04 06:43] jonwalstedt commented on #41
Yes that sounds lika a likely cause. I'm not using the split explorer feature (at least i don't think so), when i open a nnn.vim it will replace the current buffer and when i open a file from nnn.vim it closes nnn.vim and open the buffer in its place (i do not open it in a new split and im not using nnn.vim drawer style).

[2019-04-21 13:20] ldelossa commented on #40
@mcchrish

just for my own knowledge is this now obsolete ?

[code]

[2019-04-23 15:44] laggardkernel opened #44 "Environment variables within nnn#command doesn't work as expected"
**Describe the bug**

Environment variables passed into `nnn#command` doesn't take effect.

[code]

Hidden files are still not shown.

**Environment:**
- OS: macOS 10.13
- Shell: zsh 5.7.1
- Vim version: neovim v0.3.4
- Plugin manager: vim-plug
- Nnn version: 2.4

[2019-04-25 22:41] mcchrish commented on #44
`NNN_SHOW_HIDDEN` seems to be removed in 2.4 https://github.com/jarun/nnn/blob/master/CHANGELOG#L16

[2019-04-25 22:41] #44 closed

[2019-06-25 17:55] mckenziewagner opened #45 "Toggle Script"
**Is your feature request related to a problem? Please describe.**

Couldnt figure out a good way to toggle nnn in vim.

**Describe the solution you'd like**

[code]

edit: better code ^^^

[2019-09-10 03:00] mcchrish opened #46 "Support vim popup"
As the title says. Neovim and soon Vim will support floating window. Would be nice that the plugin can support it.

[2019-09-10 03:12] jarun commented on #46
Awesome! Please let me know if we need to change anything in `nnn`.

[2019-09-17 05:36] mcchrish commented on #46
Turns out nnn.vim can do this already. See example https://github.com/mcchrish/nnn.vim#layout

See also https://github.com/junegunn/fzf.vim/issues/664 since nnn.vim is pretty much implemented the same way.

[2019-09-17 06:24] jarun commented on #46
Can you please add an example of how to use floating windiw with `vim`?

[2019-09-17 06:27] jarun commented on #46
Also, is it possible to have a persistent window at the left with the "Or pass a dictionary with window size" example? When I open a file, the complete terminal is used by that file and the bar to the left isn't visible anymore.

[2019-09-17 07:45] mcchrish commented on #46
Will probably leave this issue open to tackle on the vim feature. Not yet familiar as to how vim implements floating window.

Seems to be similar to what others request where the nnn window stays open in the left. It's probably possible to do this by interacting with nnn via stdout.

[2019-10-21 08:13] laggardkernel opened #47 "Part of the left is trimmed after upgrading nnn to 2.7"
**Describe the bug**

When set layout to 'right' or a floating window, part of the left content is trimmed, which doesn't happen with nnn 2.6 but only on 2.7.

**To Reproduce**

[code]

Set layout as "left". Open vim, trigger the nnn window with `<leader>n`.

**Expected behavior**

Content in the nnn window should be left-aligned, and only right of the content is trimmed  when it's too long.

**Sc

[2019-10-21 09:51] jarun commented on #47
@laggardkernel can you please share an image and probably give a count of how many columns are missing?

@mcchrish please let me know if you need anything from `nnn`.

[2019-10-21 11:47] laggardkernel commented on #47
I did some more tests carefully. It turns out the problem is related to setting `scrolloff` and `sidescrolloff` from [vim-sensible](https://github.com/tpope/vim-sensible/blob/4a7159a30061b26aec9ac367823094e7fd0f6a5b/plugin/sensible.vim#L47-L52).

[code]

And only Neovim but not Vim is impacted. Removing these lines would fix the problem.

In fact, the problem could be reproduced with nnn 2.6 on Ne

[2019-10-21 11:47] #47 closed

[2019-11-16 08:05] jarun commented on #46
@mcchrish any update on this? This would be a very useful feature for nnn.vim users.

[2019-12-12 08:29] huyvohcmc opened #48 "Open nnn buffer instead of netrw"
When I use `vim .` to open vim under a directory, can we open `nnn` buffer instead of `netrw`?

[2019-12-12 09:13] mcchrish commented on #48
[code]

[2019-12-12 09:52] #48 closed

[2019-12-30 16:26] hujianxin commented on #43
it will be wonderful if there is a nnn buffer and it keeps everything I have entered

[2019-12-30 16:30] jarun commented on #43
If it's possible, it has to be done in the plugin. nnn itself doesn't track any user details.

[2019-12-30 16:31] hujianxin commented on #43
@jarun thanks for you replying, I got your meaning

[2020-03-20 05:28] jarun commented on #46
Thank you so much for this @mcchrish!

[2020-03-20 05:28] jarun commented on #46
BTW, is this configurable? Can I still choose to use the floating window or the side pane?

[2020-03-20 05:36] mcchrish commented on #46
Yes it's configurable. You can change the size, offset, border style and border color of the window.
[code]
All the other types of layout still works including side pane.

[2020-03-28 04:00] jarun commented on #46
@mcchrish Can we close this?

[2020-03-30 03:41] #46 closed

[2020-04-04 02:18] huanhexiao opened #51 "/bin/bash Command not found"
**Describe the bug**

It says :/bin/bash Command not found, as i type :Np

**To Reproduce**

Steps to reproduce the behavior and with the **most minimal configuration**.
With only nnn.vim installed and additional configurations/plugins that helps reproduce the bug:

1. Open vim
2. Run command '....'
3. Press key '....'
4. See error

**Expected behavior**

A clear and concise description of what yo

[2020-04-04 02:19] #51 closed

[2020-04-13 21:21] andoriyu opened #52 "nnn window isn't closed after picking"
A clear and concise description of what the bug is.
When I use floating layout:
[code]
Window floating view opens as expected, however after picking floating window stays up as empty buffer. Without window everything works as expected.

Steps to reproduce the behavior and with the **most minimal configuration**.
With only nnn.vim installed and additional configurations/plugins that helps reproduce

[2020-04-15 04:02] mcchrish commented on #52
I somehow can't replicate the issue. However, I've some code related to handing the floating window https://github.com/mcchrish/nnn.vim/commit/3b7ebe12549e8ea9857c2bcfb8f553a0f535e02d where it closes the window on switching back.

Let me know if this change solved it for you.

[2020-04-15 20:52] andoriyu commented on #52
@mcchrish it's working now. Thanks!

[2020-04-15 20:52] #52 closed

[2020-04-17 14:33] step- opened #53 "floating window layout error"
**Describe the bug**

Pressing `<leader>n` with nnn.vim set in a floating window layout produces vim errors
[code]
and the following message in the floating window:
[code]

**To Reproduce**

Installed nnn 3.1, vim 8.2.534 Linux.
No `NNN_`* environment variables set.
In `.vimrc` (copied from README):
[code]

1. Open vim
2. Press `<leader>n`
3. See error

Thank you.

[2020-04-17 14:59] jarun opened #54 "Error with vim version 8.2.579"
Settings I have:

[code]

Steps:

    vim somefile
    <leader>n

Messages I see:

[code]

[2020-04-18 10:18] mintelm opened #55 "Persistent nnn session for a vim session"
**Describe the solution you'd like**
I would love to have a persistent nnn session for my vim session -- meaning when I open nnn in vim and change directories or open a file, the next time I open nnn I want to be in the directory I changed to, but when I quit vim and start it again, the nnn session should be reset.

**Describe alternatives you've considered**
As nnn already implemented persistent

[2020-04-29 08:06] pauldiloreto opened #56 "Colors are hard to read with termguicolors set"
**Describe the bug**
In order to use `coc-highlight` I am required to add `set termguicolors` in my vimrc/init.vim.

Unfortunately with this setting, nnn inside of vim uses colors that are very low contrast and difficuclt to read.

I realize that it is occurring because of this color setting I am adding, but it appears nnn inside of vim is the only thing being affected. Any advise would be appreci

[2020-05-06 09:29] mcchrish commented on #56
Does your colorscheme support terminal colors for neovim? Usually the colorscheme should have set this variables https://github.com/neovim/neovim/issues/2897#issuecomment-115464516 or you can set them yourself if you want to customize it.

[2020-05-06 09:45] mcchrish commented on #53
Was able to replicate it with minimal vimrc:

[code]

Have you set `hidden`? Unfortunately it is required for the plugin to work. See `:h hidden`

[2020-05-06 10:23] jarun commented on #53
Please document this if not done already.

[2020-05-06 15:15] step- commented on #53
@mcchrish Thank you for your reply. I can confirm that setting vim global option `hidden` in vim clears the issue.  However, I don't want to set `hidden` because it can lead to forgetting to save a modified file.  I concur with @jarun that it's enough to document the requirement, and let individual users decide about the trade-offs.

[2020-05-06 20:05] pauldiloreto commented on #56
@mcchrish Thank you for your comment & providing this excellent plugin.

Looks like that was it, my colorscheme simply did not support terminal colors.
Setting the variables according to that comment did the trick. Thank you!

[2020-05-06 20:05] #56 closed

[2020-05-21 11:21] lifeBalance opened #57 "Is it possible to make nnn.vim change the Vim's CWD on exit?"
As the title says, it would be awesome to use this plugin like a superfast CWD switcher (like in the shell). Maybe have uppercase `Q` to switch it , while `q` quits normally?

[2020-05-22 17:07] PartyLich opened #58 "script errors on file open"
**Describe the bug**
When opening a file, I receive the following error message in nvim
[code]
The file opens as expected and the nnn window closes once I've ENTERed my way through the errors. So it more or less works, it's just a bit inconvenient.

**To Reproduce**

minimal neovim config:
[code]

1. Open nvim
2. open nnn as filepicker with `<leader>n`
3. Locate a file and hit `ENTER` to open
4. S

[2020-05-23 04:07] mcchrish commented on #58
Can you try latest master? I pushed a commit that might fix it. https://github.com/mcchrish/nnn.vim/commit/e945cf3b52c3af2f19e9dec91e5d44af75a9a88b

[2020-05-23 04:09] mcchrish commented on #57
That's actually a neat feature.
Don't have much time to look into it unfortunately.

A PR is welcome 👍

[2020-05-23 16:34] PartyLich commented on #58
Works! Thank you for the rapid response.

[2020-05-23 16:45] #58 closed

[2020-05-23 18:09] ldelossa commented on #54
seeing a similar issue after
[code]

[2020-05-23 18:27] ldelossa opened #59 "error in switch_back function"
**Describe the bug**

A clear and concise description of what the bug is.

When navigating to files in nnn-vim I receive an error in the switch_back method.
[code]

Seems like this method is receiving the wrong data type.

**To Reproduce**
I am using vimx from the default fedora repositories.

[code]
nnn-vim (master)
nnn v3.0

Steps to reproduce the behavior and with the **most minimal configurati

[2020-05-23 18:31] ldelossa commented on #59
short circuiting the "present" function removes the bug. I know this is not the right thing to do, but narrows down the cause.

[code]

[2020-05-23 19:01] alexk7110 commented on #59
I was just looking for this, opening of the files occurs anyway so `return 0` is a nice one for now.

[2020-05-23 19:20] ldelossa commented on #59
yes, also just changing the dictionary to something like:

[code]

does the trick.

[2020-05-23 22:07] mcchrish commented on #59
I pushed some commit in master that could fix it. https://github.com/mcchrish/nnn.vim/commit/78e0a0fbfd970be6f3b9174daf495356e2b02d89

Can you take a look?

Thank you for reporting.

[2020-05-23 22:12] jarun commented on #59
@mcchrish can you please take a look at https://github.com/mcchrish/nnn.vim/issues/54?

[2020-05-24 01:59] ldelossa commented on #59
@mcchrish issue where providing no layout dictionary is fixed in master.
However the 'window' dictionary which enables the popup window version of nnn-vim is still broken.

[2020-05-24 05:01] mcchrish commented on #59
Can you try using the branch https://github.com/mcchrish/nnn.vim/tree/rewrite

[code]

Somehow vim must have change how popups work with terminal in latest patches. So I have to rewrite the whole approach of handling the windows.

[2020-05-24 05:01] mcchrish commented on #54
See https://github.com/mcchrish/nnn.vim/issues/59#issuecomment-633179825

[2020-05-24 14:09] jarun commented on #54
@mcchrish I can confirm https://github.com/mcchrish/nnn.vim/tree/rewrite fixes the issue.

[2020-05-24 15:12] jarun commented on #54
BTW, I checked in a little something yesternight you may be interested in: https://github.com/jarun/nnn/commit/56886922a62b39b43897988bdae289a47fc1026a

You can now pass the path to the current file when you start `nnn` and it will be hovered in `nnn`. Probably easier for user to track files instead of starting at the first file?

This will be available in the next release (due soon).

[2020-05-24 18:15] ldelossa commented on #59
@mcchrish your rewrite branch fixes all issues.

[2020-05-24 21:23] #53 closed

[2020-05-24 21:23] #54 closed

[2020-05-24 21:23] #59 closed

[2020-05-25 17:32] PartyLich opened #61 "feat: keep nnn open"
**Is your feature request related to a problem? Please describe.**
Coming from more graphical editors and IDEs, I'm used to having a file explorer open all the time.

**Describe the solution you'd like**

Using netrw in nvim I can get roughly equivalent behavior:
[![asciicast](https://asciinema.org/a/jwy62E4U1Rm2mQUa3JBq487xW.svg)](https://asciinema.org/a/jwy62E4U1Rm2mQUa3JBq487xW)
Is it possible

[2020-05-26 03:08] mcchrish commented on #61
Seems to be a popular request to have a nerdtree like persistent session/window. https://github.com/mcchrish/nnn.vim/issues/55
https://github.com/mcchrish/nnn.vim/issues/43

It might be possible to implement this features by communicating with nnn via stdout. I don't have much free time to implement it, but I welcome anyone who wants to submit a PR.

[2020-05-26 17:53] PartyLich commented on #61
I think #43 and #55 are different from my request in that they expect nnn to close, but want the open directory to persist/be remembered.
- Naively, if we have access to the path currently visible in nnn, perhaps it could be stored in a script variable (again, im not versed in vimscript).
  For #43,

   sounds to me like getting the current head (something like `expand('%:p:h')`) and using it as t

[2020-06-01 18:10] ldelossa opened #62 "Popup Window does not scroll"
**Describe the bug**

nnn-vim in popup-mode does not scroll the contents of the popup window

**To Reproduce**
[code]
Open a popup nnn with contents large enough to force the view to scroll, then try to scroll

**Expected behavior**

The popup window scrolls with the contents

**Environment:**

- OS: Fedora 32
- Terminal: Tilix
- Shell: zsh 5.2.1
- Vim version:  vim8
- Plugin manager: vim-plug
- P

[2020-06-04 03:12] jarun commented on #54
@mcchrish is there a way to tell the plugin to open the new file in vsplit or hsplit mode?

[2020-06-16 17:45] amitlevy21 opened #64 "Show git changes"
**Is your feature request related to a problem? Please describe.**

When I change a file in vim, it would be nice if I could see which files were lastly modified since last commit.

**Describe the solution you'd like**

Basicly i'm looking for something like [this](https://github.com/Xuyuanp/nerdtree-git-plugin) for nnn.vim.

**Describe alternatives you've considered**

I'm not sure what else I ca

[2020-06-16 21:46] mcchrish commented on #64
That's a cool feature. However it might be better to ask this feature in the main nnn repo https://github.com/jarun/nnn

[2020-06-16 21:46] #64 closed

[2020-07-01 17:53] VNMNTN opened #65 "Search option request"
Hello! Are you not planning option "search_on_open" (lusty file system explorer like). Navigation with arrows too loong... Thanks!

[2020-07-01 18:27] jarun commented on #65
Hello! Did you try the plugin `fzopen`?

[2020-07-01 18:27] #65 closed

[2020-07-13 06:06] linuxclowns opened #66 "Current version breaks on vim 8.1 on Debian"
I updated from v1.6 (5a5c992) to the most recent release and nnn.vim breaks when it's called with the following error:

`Error detected while processing function nnn#pick[12]..<SNR>27_build_window[3]..<SNR>27_create_term_buf:
line    9:
E121: Undefined variable: #
E116: Invalid arguments for function term_start([&shell, &shellcmdflag, a:opts.cmd], #{  curwin: l:curwin, hidden: l:hidden,
exit_cb: l

[2020-07-28 21:57] peterwu opened #67 "Closing out nnn popup window doesn't restore status bar"
**Describe the bug**

If no file is selected when user presses Q to quit the pop up window, the status bar remains inactive.

**To Reproduce**
1. Configure nnn.vim to use popup window as suggested by the doc
let g:nnn#layout               = { 'window': { 'width': 0.9, 'height': 0.6, 'highlight': 'Debug' } }
2. Launch Nvim to open whatever file and notice the status bar being active.
3. Do **:NnnPi

[2020-07-29 15:30] pddevins commented on #62
I am also experiencing this bug:
OS: macOS 10.15.5
Terminal: iTerm2
Shell: zsh 5.7.1
Vim version: 8.2.1100
Plugin manager: vim-plug
Plugin version: master
Nnn version: 3.2

[2020-07-31 15:48] mroavi opened #68 "cd on quit not working"
**Describe the bug**

I cannot get the *cd on quit* functionality to work with the vim plugin.

I followed the steps described here: https://github.com/jarun/nnn/wiki/Basic-use-cases#configure-cd-on-quit

I made sure this works when starting *nnn* (via *n*) directly from the terminal.

In my *init.vim* I added the following configuration:
[code]

When I run `:NnnPicker` I get the following error:

[2020-07-31 22:57] mroavi commented on #68
After looking into this issue, I narrowed down that the root problem of why the *cd on quit* functionality is not working is because the *~/.config/nnn/.lastd* file is not being written when the env variable `NNN_TMPFILE` is defined. I will close this issue and open a new cleaner one describing this root problem.

[2020-07-31 22:57] #68 closed

[2020-07-31 23:12] mroavi opened #69 "~/.config/nnn/.lastd file not written on exit when NNN_TMPFILE is set"
**Describe the bug**

The file  *~/.config/nnn/.lastd* should be written whenever *nnn* is exited and the `NNN_TMPFILE` is set as described in https://github.com/jarun/nnn/issues/350#issuecomment-541162680 and implemented in https://github.com/jarun/nnn/commit/d1d491c102f5da1bf6a2c8c21fa71530e74f90d3. This is not working in the vim *nnn* plugin.

**Environment:**

- OS:   Ubuntu 18.04.4 LTS
- Term

[2020-08-05 18:24] jarun opened #71 "Action not working"
I was trying to set [actions](https://github.com/mcchrish/nnn.vim#action) with <kbd>^H</kbd> for vsplit which is unused in `nnn`.

I selected a file using <kbd>^J</kbd> and then pressed <kbd>^H</kbd> but nothing happned other than the cursor blinking in the status bar.

Can you please take a look or help me fix this?

I am on nnn.vim & nnn master. vim version 8.2.579.

[2020-08-07 17:27] #57 closed

[2020-08-07 18:36] mroavi commented on #71
Actions are actually working fine for me. I'm using nvim v0.5 with this config:
[code]
Did you try different key bindings? Could it be that <kbd>^J</kbd> is being overwritten by another program?

[2020-08-07 18:37] mroavi commented on #69
Fixed in https://github.com/mcchrish/nnn.vim/pull/70.

[2020-08-07 18:37] #69 closed

[2020-08-07 18:49] jarun commented on #71
I am using vim. Also which version of `nnn` are you? ^T, ^X and ^V have their own bindings in `nnn` on v3.3.

[2020-08-07 19:13] mroavi commented on #71
I'm in v3.3...

Hmm... I guess nvim.vim is overwriting them then

![action-not-working](https://user-images.githubusercontent.com/19517248/89680212-d1194180-d8f2-11ea-9dd0-7e7c2072ff11.gif)

[2020-08-07 19:14] jarun commented on #71
That would work for me. But somehow the nnn.vim plugin doesn't work.

[2020-08-19 01:11] asgeo1 opened #72 ""E79: Cannot expand wildcards" when using `NnnPicker '%:p:h'` and fish shell"
**Describe the bug**

I'm getting a "E79: Cannot expand wildcards" error message when using the `NnnPicker '%:p:h'` command.

**To Reproduce**

1. Use fish shell

        fish --version
        fish, version 3.1.2

        echo $SHELL
        /usr/local/bin/fish

        # .vimrc
        set shell=/usr/local/bin/fish

1. Use suggested custom mapping configuration

        " Disable default mapping

[2020-08-19 01:26] asgeo1 opened #73 "Not getting nnn colors with neovim"
**Describe the bug**

Normal use of nnn inside fish shell seems to work fine. It shows the output with colors. `$TERM` is set to `xterm-kitty`.

But if I start vim inside fish shell, and then trigger nnn.vim, it shows the output *without* any colors.

Note that changing to bash shell, starting Vim and then trigger nnn.vim, it shows the output *with* colors though.

So seems to be some issue with V

[2020-08-19 19:09] jarun opened #74 "Looking for contributors"
We need help with the current outstanding defects and feature requests. Please feel free to pitch in.

@deoxys314 @mroavi @laggardkernel @choihongil you have contributed to this project earlier. We need more support to bring this project out of the current lag.

[2020-08-19 23:21] asgeo1 commented on #73
UPDATE: seems that this is actually an issue with neovim and likely nothing to do with fish / kitty.  I didn't realise, but in bash `vim` is actually starting Vim 8, which doesn't have the color issue.   So at least I'm a little closer to working this out...

[2020-08-19 23:53] asgeo1 commented on #73
OK, I've sort of worked it out.  In Neovim, if I open a terminal with `:terminal` and do `echo $TERM`, it shows `xterm-256color`, which is different to `xterm-kitty` that I use elsewhere.

For some reason on my system, `nnn` will not show colors when used with `xterm-256color`. I'm not sure why that is, but it's obviously nothing to do with this plugin.  Vim 8 doesn't override $TERM, so I don't ha

[2020-08-19 23:53] #73 closed

[2020-08-20 01:40] asgeo1 commented on #72
The problem is with the suggested mapping in the README.

If I change the mapping to `nnoremap <leader>n :NnnPicker %:p:h<CR>` (i.e. without the single-quotes) it works fine with no error.

[2020-08-20 04:06] jarun commented on #72
@asgeo1 Please raise a PR to fix the same and I'll pull it in.

[2020-08-20 04:12] jarun commented on #72
Ahh, OK. I updated the doc with fish-specific note. Please ignore the above request.

[2020-08-20 04:12] #72 closed

[2020-08-20 08:18] maujim commented on #74
I can help out. Currently have limited bandwidth so can't start till next week though. Is there any specific issue that you think has priority?

[2020-08-20 08:20] jarun commented on #74
Thank you so much! Please go through the current opens and start wherever you are comfortable. Feel free to clarify.

[2020-08-20 08:22] jarun commented on #74
@mcchrish please add @maujim as a collab. I'll send out the invite to nnn-dev discussion room.

[2020-08-25 17:22] TomBaxter commented on #41
I've looked this over and not sure what the right answer is. I think there are three possibilities.

1. Don't do anything. This is a legit error with useful information. Though the trace is a bit ugly and of no use to the end-user.

2. Catch and reraise E211 without the trace. Retains the useful information and removes the clutter. This is what I did for https://github.com/mcchrish/nnn.vim/pull/76

[2020-08-25 18:58] TomBaxter commented on #62
I was unable to reproduce this issue with the given nnn.vim configuration.
OS: Ubuntu 20.04
Terminal: gnome-terminal
Shell: tried with both bash and zsh
Vim version: Neovim 0.4.3
Plugin manager: vim-plug
Plugin version: master
Nnn version: 3.0

[2020-09-04 18:34] #41 closed

[2020-09-06 23:58] maujim commented on #62
I was able to reproduce this issue and am currently looking into it.

OS: Arch Linux
Terminal: st
Shell: Bash 5.0.18
Vim version: Vim 8.2.1584
Plugin manager: vim-plug
Plugin version: master
nnn version: 3.4

[2020-09-07 16:42] Devil39 commented on #74
Hello @jarun, are you still looking for contributors?

[2020-09-07 16:49] jarun commented on #74
Of course! Please feel free to pitch in!

[2020-09-07 16:50] Devil39 commented on #74
Nice, I am currently exploring the code, I am a bit new to vimscript, would love to collaborate though.

[2020-09-07 16:53] jarun commented on #74
Thank you!

[2020-09-18 00:32] pricheal commented on #62
I am also experiencing this bug

OS: Arch
Terminal: Termite
Shell: bash 5.0.18
Vim version: 8.2.1704
Plugin manager: vim-plug
Plugin version: master
Nnn version: 3.4

[2020-09-18 00:40] jarun commented on #62
@mcchrish can you take a look? Otherwise, someone has to pitch in.

[2020-09-18 09:48] mcchrish commented on #62
I'm not able to reproduce the bug. Using vim or neovim, nnn version 3.4.
I opened an nnn popup window to view a directory with lots of subdirs and files, still able to scroll through them.

[2020-09-18 12:57] pricheal commented on #62
@mcchrish For me, yes it only happens with popup/floating windows. Scrolling through a directory with more files/folders than there are lines in the popup window cause a bunch of weird things to happen.

Here is a recording of what it looks like to me: https://asciinema.org/a/360436

This is just me repeatedly hitting `j` to move down through the files on the root of my system. As you can see, whe

[2020-09-27 01:34] mcchrish commented on #62
I'm now able reproduce the bug on vim + bash.
Bash:
[code]
Vim:
[code]

Minimal vimrc:
[code]

I'm not sure if there is anything else this plugin can do to fix the bug. It could be a problem coming from either Vim terminal, bash or nnn itself. (Also able to reproduce bug in floatterm nnn wrapper).

Work around for now is to change the `&shell` to something like zsh or move to neovim.
I made an opt

[2020-09-27 15:15] ldelossa commented on #62
I honestly havent experienced this issue since moved to a new laptop and reinstalled linux. So i cant help troubleshoot further.

[2020-09-29 05:55] feniljain commented on #74
Hey @jarun, I have been trying to solve the issue #67, because that was the one, which has had no activity on it. I tried quite a few of things to solve the issue, but with no luck, if possible can you please lead me where I am going wrong or what direction should I head in?

[2020-09-29 14:46] jarun commented on #74
Sorry, I am not an expert in vimscript. @mcchrish would you be able to help @feniljain?

[2020-09-30 22:31] mcchrish commented on #74
@feniljain can you see if setting `g:nnn#statusline` to `0` helps? Since floating window does not have statusline in the first place, maybe we can just force disable it.

[2020-10-05 10:14] feniljain commented on #74
Hey @mcchrish,
Apologies for the late reply, I tried that too, permanently setting it off, but it doesn't seem to work. Except this I also tried saving state of statusline  in another variable before load and after then restoring it after closing, but that too didn't work out.

[2020-10-06 08:36] #67 closed

[2020-10-06 08:43] mcchrish commented on #71
@jarun cannot reproduce the issue. Minimum config:
[code]

[2020-10-06 08:46] mcchrish commented on #66
@linuxclowns still an issue with the latest version?

[2020-10-06 08:47] mcchrish commented on #74
@feniljain fixed in https://github.com/mcchrish/nnn.vim/commit/f8bac88a3591be157ac73fed24c2fc525bb73b27. Let me know if it still an issue.

[2020-10-06 13:00] jarun commented on #71
I ma on nnn master. I have also updated to nnn.vim master. My vim version is version 8.2.579.

I have the following in .vimrc:

[code]

Now I open a file in vim, press `\n` to show nnn floating window, navigate to a text file and press `^H` (same result with some other bindings).

File is not opened and I see the cursor at the end of the statusbar:

![](https://i.imgur.com/9nb7l23.jpg)

[2020-10-07 06:43] linuxclowns commented on #66
Afraid so...

`Error detected while processing function nnn#pick[12]..<SNR>30_build_window[3]..<SNR>30_create_term_buf:
line    9:
E121: Undefined variable: #
E116: Invalid arguments for function term_start([&shell, &shellcmdflag, a:opts.cmd], #{  curwin: l:curwin, hidden: l:hidden,
exit_cb: l:Exit_cb })
line   17:
E121: Undefined variable: l:tbuf
`

[2020-10-07 09:48] mcchrish commented on #71
@jarun I'm assuming you are in a linux env.
Correct me if I'm wrong but in linux ctrl-h is mapped as backspace. I don't have a linux machine to confirm.
That may cause mapping <c-h> to be problematic.

[2020-10-07 09:50] jarun commented on #71
That's correct but I tried with ^K also which is now unused in nnn.

[2020-10-07 09:53] mcchrish commented on #66
Can you send a detailed report of your env? Similar to the issue template https://github.com/mcchrish/nnn.vim/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2020-10-09 07:29] feniljain commented on #74
It's fixed and works as expected.

[2020-10-09 09:02] linuxclowns commented on #66
Sure thing:

OS: Debian 10
Terminal: st 0.8.2
Vim version: 8.1.1401
Plugin Manager: vim-plug
Plugin Version: v1.6 (working), master (not working)
Nnn version v3.4

[2020-10-09 15:54] ldelossa opened #78 "7601: No such file or directory"
**Describe the bug**

Using nnn.vim v2.0 or later I receive the following error message when opening nnn from vim.

7601: No such file or directory

Downgrading to v1.8 fixes this issue.

**To Reproduce**

Steps to reproduce the behavior and with the **most minimal configuration**.
With only nnn.vim installed and additional configurations/plugins that helps reproduce the bug:

1. open vim
2. use y

[2020-10-09 21:41] mcchrish commented on #78
Please provide a minimal vimrc that reproduces the bug.

[2020-10-09 22:05] mcchrish commented on #78
Maybe related to the breaking change? https://github.com/mcchrish/nnn.vim/releases/tag/v2.1

I updated the notes to be more descriptive.

[2020-10-11 02:34] infinite-ops commented on #78
I had the same issue, @mcchrish is correct https://github.com/mcchrish/nnn.vim/releases/tag/v2.1 removing quotes fixed the issue for me.

[2020-10-11 14:03] ldelossa commented on #78
Thanks i totally missed that. Fixed!

[2020-10-11 14:03] #78 closed

[2020-10-25 05:42] divramod opened #79 "When in nnn map l to open in current"
Hey,

thx for port to vim!

Is it somehow possible to map l to open the file under the cursor in the current window?

[2020-10-25 10:26] mcchrish commented on #79
Since nnn is running in a terminal buffer it's possible to remap any input key:
[code]
Mapping `i` to `<cr>` since enter mean to open the current file under the cursor.

[2020-10-25 10:26] #79 closed

[2020-11-05 08:29] beckeru commented on #62
For me it works if airline is not loaded.

[2020-11-07 16:17] pricheal commented on #62
@mcchrish I am still experiencing this issue and haven't been able to figure out any fix. What specifically would I need to put in my vim config for the work around you listed above (with the &shell option)?

[2020-11-17 11:54] beckeru commented on #62
Maybe the issue is related to 256-colors when setting NNN_COLORS in 256 color format [see](https://jlk.fjfi.cvut.cz/arch/manpages/man/nnn.1.html)
[code]
it also works for me (even with airline)

[2020-11-20 20:59] pricheal commented on #62
Setting my shell to `zsh` doesn't fix the issue for me, neither does changing any color settings with the `-C` option or the `NNN_COLORS` environment variable.

[2020-11-26 23:03] Clish254 commented on #40
I have this problem as well, when I open a file by pressing `L` it uses a different application to open the file. I want to disable `L` and just use `enter` but `let $DISABLE_FILE_OPEN_ON_NAV=1` doesn't seem to work anymore.

[2020-11-26 23:55] mcchrish commented on #40
I believe it's changed to `-o` option now. See `man nnn`.

[2020-11-30 22:48] ldelossa opened #80 "Improving nnn.vim readability"
**Describe the bug**

Not quite a bug, but I'm at a road block. I cannot find any highlight groups being applied to a executable file in my nnn.vim terminal window. I use my own custom theme, but not quite show to to alter the colour of an executable file.

**To Reproduce**

Utilize my theme: github.com/ldelossa/vimdark and open an nnn window.

**Expected behavior**

The ability to change the colo

[2020-11-30 22:52] ldelossa commented on #80
![image](https://user-images.githubusercontent.com/5642902/100675331-c288e700-3334-11eb-90db-6fa644ce9acd.png)

as you can see from screen shot, the colors in vim8 term are readable, but nnn window is not.

[2020-11-30 23:21] mcchrish commented on #80
Does it fix the colors if you pass `-C` to the nnn command? i.e. `nnn -C`

[2020-12-01 00:48] ldelossa commented on #80
![image](https://user-images.githubusercontent.com/5642902/100682853-fe2bad00-3344-11eb-8480-dcbd044161e4.png)

Left is a normal "ls -la" and right is "nnn -C" so yes, but also removes other colors.

[2020-12-01 01:23] ldelossa commented on #80
discovered "NNN_FCOLORS" thank you for your help! closing as I see a way to fix this issue.

[2020-12-01 01:23] #80 closed

[2020-12-01 01:33] mcchrish commented on #80
Ok, good. It would be nice if nnn follows `LSCOLORS` by default.

[2020-12-01 01:42] ldelossa commented on #80
I do agree, using LS_COLORS would be helpful.

[2020-12-28 22:14] dv-blk opened #81 ""quitcd" functionality with original terminal/shell"
I am wondering if there is a common method or plugin to return, in the current nnn location, to the shell that originally ran nnn.

Thanks!

[2020-12-29 03:07] ekickx opened #82 "Weird behavior with fzopen plugin"
**Describe the bug**

When open a file using fzopen plugin, the file opened in float window

**To Reproduce**

Steps to reproduce the behavior and with the **most minimal configuration**.
With only nnn.vim installed and additional configurations/plugins that helps reproduce the bug:

1. Open vim
2. Run nnn.vim
3. Press key combination for fzopen
4. Select file
5. File opened in float window

**Exp

[2020-12-29 03:44] mcchrish commented on #82
I haven't taken a deeper look at yet. However I assume when using a nnn plugin such as `fzopen` nnn will pass the selected files to whatever opener is set (via `EDITOR` or `NNN_OPENER`). Probably to fix this, nnn should instead output the selected files to the file specified in picker mode `-p <output file>`.
@jarun Thoughts on what's happening here?

[2021-01-07 02:33] khuedoan commented on #43
I'm using this key binding which opens `nnn` in the current buffer's directory, not a replacement for remembering path but may fit your use case:

[code]

[2021-01-07 02:37] khuedoan commented on #43
I'm using this key binding which opens nnn in the current buffer's directory, not a replacement for remembering path but may fit your use case:

[code]

[2021-01-13 05:13] kyoz commented on #43
@khuedoan ya. Sometime when i need to use nnn, i have call command with some args my self too :smile:

[2021-01-18 21:32] dv-blk commented on #81
Closing, as I no longer use n³

[2021-01-18 21:32] #81 closed

[2021-01-19 14:25] mwcz commented on #29
I just started using nnn.vim, and folders can be created with `nd`.

After pressing `n`, I see:
[code]
This is probably new since you posted this issue two years ago. :)

[2021-01-25 11:11] vhristev commented on #61
Im also interested in NNN persistant pane. You describe it very well like NerdTREE no matter if you open the file the File Browser do not close after opening the file.

[2021-01-25 13:31] vhristev commented on #71
Is there a way to override how nnn.vim is working and make 'Enter' to open the file in a new tab?

Here is the current situation.  I know that in NNN 'Enter' key will move into the folder for which I'm using "l" ( vim navigation ). Using 'Enter' for 'Tab' is going to stop entering in the folder and I'm fine with that.

`let g:nnn#action = {
      \ '<c-t>': 'tab split',
      \ '<c-s>': 'split',

[2021-02-13 02:07] itaranto opened #83 "^J for file selection not working properly"
**Description**

`^J` does not select multiple files when pressed continuously, it gets stuck in the first file.

**Steps to reproduce**

1. Open nvim
2. Run command `:NnnPicker`
3. Press key `^J`
4. Press key `^J` again
4. Only one file gets selected

**Expected behavior**

2 files are selected.

**Environment:**

- OS: Arch Linux
- Terminal: Alacritty
- Shell:
  Login shell: Bash 5.1.4
  Shell u

[2021-02-13 02:54] jarun commented on #83
nnn.vim opens nnn in picker mode. In picker mode, auto-advance is not done. You'll have to do it manually. This is to ensure users open only the selected file and not the auto-advanced one as well.

[2021-02-20 09:43] alexya opened #84 "Get error "zsh:1 command not found: nnn""
**Describe the bug**

Get error "zsh:1 command not found: nnn" when inputting ":Np" to open the nnn picker.

**To Reproduce**

Steps to reproduce the behavior and with the **most minimal configuration**.
With only nnn.vim installed and additional configurations/plugins that helps reproduce the bug:

1. Open neovim
2. Run command ':Np' to open the nnn picker
3. Press key 'Enter'
4. See error as fol

[2021-02-20 22:55] mcchrish commented on #84
Can you confirm nnn is installed?
You can also manually set the nnn binary/command via `g:nnn#command` e.g.:
[code]

[2021-02-22 19:12] idmyn commented on #79
I might be missing something (I'm a vim newbie) but this remap also triggers if the key is pressed when naming a file, which is pretty annoying. Is there a way around that? Thanks for the plugin btw!

[2021-02-22 22:28] mcchrish commented on #79
@idmyn I'm not sure there's a workaround. The neovim instance does not know the state of the nnn instance is in.
It's probably recommended to only using mappings with modifier to avoid it. e.g `<c-i>`.

[2021-03-01 09:37] alexya commented on #84
Yes. I didn't install the nnn. after I installed it. it is fixed. thx a lot.

[2021-03-01 11:02] #84 closed

[2021-03-09 19:07] medwatt opened #85 "File opening in nnn window instead of vim main window"
I am using the [`fzopen`](https://github.com/jarun/nnn/blob/master/plugins/fzopen) plugin which allows you to use fzf to quickly locate a file. The only problem is that when you press ENTER on the found file, it opens it inside the floating window instead of the main window. Is there a way to fix this issue ?

[2021-03-11 08:35] mcchrish commented on #85
Duplicate https://github.com/mcchrish/nnn.vim/issues/82

[2021-03-11 08:35] #85 closed

[2021-03-13 10:50] medwatt opened #86 "Enabling mouse causes window to become unresponsive"
I was having an issue that when nnn is loaded in (neo)vim and I switch focus to some other window/buffer, the nnn window/buffer becomes unresponsive. I tracked down the issue to the mouse being enabled in normal mode. Normally, I have the mouse enabled in all modes: `set mouse=a`. While disabling the mouse solves the issue, it is not a good solution.

I came up with this workaround:

[code]

This

[2021-03-13 11:16] medwatt opened #87 "Opening a file from startup page does not open in main window"
I use the [startify](https://github.com/mhinz/vim-startify) plugin as my startup page. If I open a file via nnn from the startup page, it does not open in the main window, but opens inside the small window designated for it.

This is my config:

[code]

![](https://i.imgur.com/NOReSWP.gif)

[2021-03-14 00:34] mcchrish commented on #86
@medwatt it seem if you use mouse to focus on the nnn window it only goes into normal mode instead of insert mode.
It's probably not related to mouse input at all as the default behavior of moving the focus to terminal buffer is to start in normal mode.

I personally like to start in insert mode whenever entering the terminal buffer. https://github.com/mcchrish/dotfiles/blob/master/vim/Library/Pre

[2021-03-14 01:10] medwatt commented on #86
@mcchrish,

[2021-03-14 01:10] medwatt commented on #86
@mcchrish, the solution you mentioned doesn't solve the issue.

![](https://i.imgur.com/vF9vnmR.gif)

[2021-03-14 17:14] vhristev commented on #61
Still nothing about that. It would be very helpful to have persistent pane.

[2021-04-09 09:01] mcchrish commented on #62
Similar issue: https://github.com/voldikss/vim-floaterm/issues/171

[2021-04-28 19:54] ldelossa commented on #82
would really love this to work, since it means I can get rid of fzf and just use nnn

[2021-05-03 19:27] johngodlee opened #90 "Paste selected file into buffer"
I'd like to open nnn.vim, choose a file, and immediately paste the path of the selected file to the current buffer. Is there any way to do that?

[2021-05-04 01:14] jarun commented on #82
Currently `nnn` doesn't have any way to pass the picker mode or the picker file to the plugins.
I have no plans to spend time on that either. Thanks.

[2021-05-07 19:05] johngodlee commented on #90
I think I've fixed my problem. I added these lines to my init.vim:

[code]

Then while in nnn.vim I can hit Ctrl-p to copy the selected filenames and paste them at the current position in the open buffer.

[2021-05-07 19:05] #90 closed

[2021-05-07 19:34] johngodlee opened #91 "Use a function with nnn#pick"
With `nnn#action` it's possible to pass the array of results to a custom function, like so:

[code]

Is it possible to also use a custom function with `nnn#pick`. I would like to make a custom mapping. This is what I have tried so far:

[code]

But this produces the following error:

[code]

If I press Enter through this error nnn.vim opens and I can select files, but then when I press Enter again

[2021-05-07 19:50] johngodlee opened #92 "Remap <enter> with nnn#action"
**Is your feature request related to a problem? Please describe.**

I would like to remap the default behaviour of nnn.vim so that pressing `<enter>` opens the selected file in a new tab, rather than as the current buffer.

**Describe the solution you'd like**

In fzf.vim, `<enter>` can be remapped using `fzf_action`:

[code]

but the similar code in nnn.vim doesn't change the behaviour of `<enter

[2021-05-09 06:46] jarun opened #93 "Floating window broken when number of elements exceeds height"
I am seeing this with vim version 8.2.1767 and `nnn.vim` master.

I have the following in .vimrc:

[code]

When the number of elements are greater than the floating window height moving the arrow down corrupts the statusbar. Looks like a height calculation issue.

![](https://i.imgur.com/XZ1Whvu.png)

[2021-05-09 07:13] mcchrish commented on #93
Seems to be a similar issue https://github.com/mcchrish/nnn.vim/issues/62. And bug seems to affect other plugins too https://github.com/voldikss/vim-floaterm/issues/171.

[2021-05-09 07:28] jarun commented on #93
I am not sure what can be done from `nnn`. Looks like the number of LINES and COLUMNS are advertised wrongly to `nnn`. I see the window broken with long filenames as well.

`nnn` gets LINES and COLS variables from the environment (set by ncurses): https://github.com/jarun/nnn/blob/eec63662724ae15561d964744be384e0952fefb7/src/nnn.c#L5769

I don't see this in `tabedit` layout.

[2021-05-09 10:01] mcchrish commented on #93
It's definitely a bug with vim. I was able to reproduce the problem a while back https://github.com/mcchrish/nnn.vim/issues/62#issuecomment-699570399 but some reported the problem still occurs even with my suggestions.

[2021-05-09 10:13] mcchrish commented on #92
I'm not sure if it's possible. Even so, It's not a good idea. "Enter" is a common key used for some nnn features like creating new file/dir. Remapping it would lead to unexpected behavior. Check out `nnn#pick()` with a custom option for `edit` if it can fit your need.

[2021-05-09 10:18] mcchrish commented on #91
Yes, it's possible. I have a working example in my dotfile. https://github.com/mcchrish/dotfiles/blob/master/vim/Library/Preferences/nvim/after/plugin/keys.vim#L234

[2021-05-09 10:18] #91 closed

[2021-05-09 10:45] mcchrish commented on #93
Closing in favor or #62

[2021-05-09 10:45] #93 closed

[2021-05-09 11:19] jarun commented on #62
I am on zsh and still see the same issue. Tried `let g:nnn#shell = '/usr/bin/zsh'` too.

[2021-05-09 18:51] johngodlee commented on #91
@mcchrish Excellent thank you for the help. In case you are interested what I wanted to achieve:

[code]

This allows me to attach files while editing an email for Mutt using vim. Basically it just lets me select a file(s) with nnn.vim, format the results by adding "Attach: " and sanitising the filenames, and then insert those lines at the correct point in the header material.

What I've written a

[2021-05-16 16:02] mizlan commented on #87
There are some related issues with vim-startify, such as not cleaning up the extra tab created when `g:nnn#layout = 'tabnew'`, but all these issues seem to be fixed if the corresponding window is deleted during cleanup.

[2021-05-16 16:11] jarun commented on #87
Many thanks for checking this out!

[2021-05-16 16:31] #87 closed

[2021-05-16 17:06] mizlan commented on #82
Could the picker file possibly be passed as an argument to `spawn()`?

https://github.com/jarun/nnn/blob/715abc7a3fff052755c7bee22be1effb7cb7d45f/src/nnn.c#L2002-L2006

Not sure if there are other complications to making it work.

[2021-05-16 17:33] jarun commented on #82
That's the only way but the problem is when you open in picker mode `nnn` tries to write to the output file itself. So we also need a way to synchronize the plugin with the core program.

In addition, there's also the question of whether `nnn` gets the list of files from the plugin and write them to the output file OR the plugin writes to the output file and informs `nnn`.

I am still thinking abo

[2021-05-16 17:36] jarun commented on #82
I think the plugin should write to the output file anyway. The reason is - it can avoid packing the files and send them to `nnn` which `nnn` will unpack and write to the output file.

[2021-05-16 17:47] jarun commented on #82
I will try to work out a feasible solution for this.

[2021-05-16 19:47] jarun commented on #82
Implemented at https://github.com/jarun/nnn/commit/cbc458763052f7ac9612915202b1c25a24dcef87.
Please confirm that it works as expected. Note that you need to install the `fzopen` plugin from master.

[2021-05-16 19:47] #82 closed

[2021-05-16 19:52] jarun commented on #83
Closing this as the behaviour works as designed in picker mode:

In picker mode the natural workflow is to pick a file using <kbd>Enter</kbd>.
Users who are accustomed to the current behaviour may inadvertently press <kbd>Enter</kbd> on the next file hovered on due to auto-advance which they didn't intend to open.

[2021-05-16 19:52] #83 closed

[2021-05-16 19:55] jarun commented on #74
Closing this issue.

[2021-05-16 19:55] #74 closed

[2021-05-16 19:59] mizlan commented on #82
Works for me on Neovim!

[2021-05-16 20:01] jarun commented on #82
Thanks a lot for confirming!

If possible, please check out the other defects as well.
I closed around 3 of them now. Would love to take the outstanding count to 0 as in the base project.

[2021-05-16 23:39] mizlan commented on #71
@jarun

Your original config:
[code]

works for me on:
- Vim version 8.2
- `nnn` version 4.0
- macOS 10.15.7

Are you still experiencing this problem? I have some speculations but I would like to know if this problem still persists for you.

[2021-05-17 00:01] mizlan commented on #86
If you have `set mouse=a` then you should be getting the three-lines-at-a-time scroll. And this should be happening with all buffers, not just the `nnn` buffer. If you have `set mouse=` then you should be getting a smoother line-by-line movement of the cursor.

Unfortunately, since the `mouse` option is global, it makes it very clunky, and your `autocmd` solution does not work when your focus is i

[2021-05-17 03:30] jarun commented on #86
Closing the issue with the above response. This is not an `nnn` issue.

[2021-05-17 03:30] #86 closed

[2021-05-17 03:40] jarun commented on #71
Yes, this still persists for me. `nnn` master, Ubuntu 20.04.

[code]

[2021-05-17 03:51] jarun commented on #93
Just leaving a note for anyone having this problem - I don't see this issue with `nnn` compiled against `netbsd-curses` + `musl libc`.

Compilation procedure: https://github.com/jarun/nnn/wiki/Developer-guides#compile-with-musl-libc

[2021-05-17 04:01] jarun commented on #66
@mizlan does the following error and the linked commit give any hints here?

[code]

[2021-05-17 14:22] mizlan commented on #71
Can you confirm that this occurs when you choose a layout other than a popup? This is because my build of Vim does not have the popupwin patch and I can't quite figure out how to obtain it, but I still want to reliably debug this problem on my end.

Also, if possible, could you see if this problem happens on Neovim as well?

[2021-05-17 14:25] mizlan commented on #66
@linuxclowns if possible may I get a minimal vimrc that produces this error?

[2021-05-17 14:27] ldelossa commented on #82
woo! works great in vim 8

[2021-05-17 14:27] jarun commented on #71
I see this with `tabedit` layout also.

[2021-05-17 14:29] mizlan commented on #45
I am confused by what you want. Where does anything get toggled in the code snippet you provide?

[2021-05-17 14:50] jarun commented on #45
You cannot _toggle_ `nnn` in vim. If you want to close it use the usual `nnn` keys.

See https://github.com/jarun/nnn/wiki/Usage#keyboard-mouse

[2021-05-17 14:50] #45 closed

[2021-05-17 14:50] mizlan commented on #71
Could you please do the following and report what shows up:
1. Open up nnn.vim (through <kbd>\<leader>n</kbd>) in Vim
2. Hit <kbd>\<C-\\>\<C-n></kbd> (to exit terminal mode into normal mode)
3. run `:tmap` and provide me the output

[2021-05-17 14:54] jarun commented on #71
Can you explain the `<C-\><C-n>` sequence? Should the second key be <C-h> as I mapped <C-h> to vsplit.

Also, if you do mean the sequence you mentioned, after pressing the keys I'll have to quit `nnn` with `q` and then run `:tmap` right?

[2021-05-17 14:56] mizlan commented on #71
No, `<C-\><C-n>` is the key sequence to exit the "terminal insert" mode. After that, you will be in normal mode in the terminal buffer, so immediately run `:tmap` without typing anything else before that.

[2021-05-17 14:56] ldelossa commented on #82
At first I thought this worked.

When I try this with the nnn branch you mentioned, and a new pull of all the plugins, using fzopen still creates a "sub-vim" instance, or a vim instance running inside the shell that nnn is opened with.

I'm using vim-8

[2021-05-17 14:58] jarun commented on #71
Where do I close `nnn` in this sequence?

[2021-05-17 14:59] jarun commented on #71
:`tmap` shows `No mapping found`

[2021-05-17 15:00] mizlan commented on #71
Your cursor needs to be in the `nnn` window when you run `:tmap`

[2021-05-17 15:00] jarun commented on #71
OK. Do I need to compile `nnn` with mouse enabled?

[2021-05-17 15:02] jarun commented on #71
`:tmap` in `nnn` shows:

[code]

[2021-05-17 15:02] mizlan commented on #71
No. To be more specific, upon entering the `nnn` window with `<leader>n`, hit this exact sequence of keys and nothing else:

`<C-\><C-n>:tmap<CR>`

[2021-05-17 15:04] mizlan commented on #71
Again, you are not trying to send the `:tmap` sequence to `nnn` process, but rather to vim process (the command `tmap`)

[2021-05-17 15:07] mizlan commented on #45
I would mention, however, that one could probably implement some system for toggling the window containing the `nnn` terminal buffer. It would need to be re-positioned every time it is toggled back open though.

[2021-05-17 15:08] mizlan commented on #82
Just to double check, what does your `fzopen` script look like that is being run?

[2021-05-17 15:15] mizlan commented on #71
The `<C-\><C-n>` key sequence is used to escape insert mode in the terminal. As you can see, it is also used in the keymapping for `nnn.vim`:

https://github.com/mcchrish/nnn.vim/blob/c678c7e4e7ec5656c984708ad8823453ec425fa7/ftplugin/nnn.vim#L8

Since your cursor does jump to the end of the buffer, that means the `<C-\><C-n>` part is working. That however means that the rest of the command is not

[2021-05-17 15:21] jarun commented on #71
Same `No mapping found`.

[2021-05-17 15:22] mizlan commented on #71
Does running `<c-h>` still put your cursor at the end of the buffer?

[2021-05-17 15:22] jarun commented on #71
yes

[2021-05-17 15:23] jarun commented on #71
How do I exit the `:tmap` mode in the popup window?

[2021-05-17 15:23] mizlan commented on #71
I'm afraid you're not accurately reporting the `:tmap` bit. Could you send a screenshot of what your Vim state looks like when you run `:tmap`?

[2021-05-17 15:27] mizlan commented on #71
Mine looks like this:
<img width="1677" alt="image" src="https://user-images.githubusercontent.com/44309097/118514856-a9f56900-b6e9-11eb-9cce-1ad0a288a013.png">

[2021-05-17 15:44] mizlan commented on #92
For the record, using `<CR>` works for me, although this may cause a problem if certain functionalities simulate keyboard input that include the `<CR>` key.

[2021-05-17 15:45] jarun commented on #71
![](https://i.imgur.com/tQLi1NO.png)

[2021-05-17 15:51] mizlan commented on #71
Unfortunately in this screenshot you must have hit `qq` which populates the output area at the bottom with `recording @q` and thus hiding the output of `:tmap`. I'm interested in the output at the very bottom of the screen. Remember that once you've hit `<C-\><C-n>` you're in normal mode and therefore, to continue interacting with `nnn`, you will need to hit `i` to go back into "insert" mode befor

[2021-05-17 16:02] jarun commented on #71
![](https://i.imgur.com/8iL0v4Z.png)

[2021-05-17 16:06] mizlan commented on #71
I guess I'll have to take your word for it, though I don't know how `<c-h>` is able to jump to the end of the buffer if there is no mapping...

Can you hit `<C-\><C-n>` and then do `:echo b:nnn_ftplugin` and let me know if the output is `1`?

Also can you edit the source code of `nnn.vim` and remove `<silent>` from lines 8 and 10 in `ftplugin/nnn.vim` like I mention earlier? After you do this go b

[2021-05-17 16:14] johngodlee commented on #92
Interesting. Definitely doesn't work for me with the following:

[code]

Anyway, unless @mcchrish wants to keep this open, I'm happy to close this issue.

[2021-05-17 17:41] ozkanonur commented on #65
![2021-05-17_20-39](https://user-images.githubusercontent.com/39852038/118532839-11460400-b750-11eb-91a7-805b19e06c2a.png)

As in the screenshot above, that is what happens to me when I use fzopen plugin. When I press ENTER on the result, the plugin opens the file inside the search window.

[2021-05-17 18:01] jarun commented on #71
I have removed `silent` from `ftplugin/nnn.vim`. The earlier screenshot was taken after that.

`:echo b:nnn_ftplugin` gives:

    E121: Undefined variable: b:nnn_ftplugin

[2021-05-17 18:09] jarun commented on #65
@ozkanonur This is fixed at https://github.com/jarun/nnn/commit/cbc458763052f7ac9612915202b1c25a24dcef87.

You have to take nnn from master and the plugin fzopen from master (preferably, manually).

[2021-05-17 18:09] jarun commented on #82
run `getplugs master`

[2021-05-17 18:11] jarun commented on #92
Closing this as per the comment above.

[2021-05-17 18:11] #92 closed

[2021-05-17 18:12] mizlan commented on #71
Maybe my instructions aren't clear enough or this is a very weird situation...

I would have a much easier time working with this if I could reproduce it. Until then, I don't think we are going very far.

Have you determined this was a vim-specific issue? Could you try `nvim -u ~/.vimrc` and see if it persists?

[2021-05-17 18:15] jarun commented on #71
I think `:echo b:nnn_ftplugin` means `ftplugin/nnn.vim` is not loaded or something.

I can try the nvim experiment later.

[2021-05-17 18:18] mizlan commented on #71
Yes, assuming that the the buffer you were in when you ran that command was the `nnn` buffer.

[2021-05-17 18:20] jarun commented on #71
Is there a way to generate a fault when loading ftplugin? That way we can ensure it's being loaded.

[2021-05-17 18:26] ozkanonur commented on #82
did not work for me on vim v8.2

[2021-05-17 18:27] jarun commented on #82
Can you copy the contents from your `fzopen` plugin from `~/.config/nnn/plugins`?

[2021-05-17 18:28] jarun commented on #82
Also, how did you compile `nnn`?

[2021-05-17 18:40] ozkanonur commented on #82
here is the content of the fzopen:
[code]

I clone the master and then simply compiled it with <code> sudo make O_NERD=1 </code>
I can't open the results with pressing Enter now. When I press Enter on the result of my search on fzopen, nnn goes to the file-explorer mode (the default view of nnn)

[2021-05-17 18:48] ozkanonur commented on #82
I see now, when I enter on the result, it only opens it on the main window if I close the nnn window manually.

[2021-05-17 19:06] mizlan commented on #71
Sure, you can error if `b:nnn_ftplugin` is undefined. It should be working fine though, assuming the filetype of the terminal buffer is set to `nnn` as it is here:

https://github.com/mcchrish/nnn.vim/blob/c678c7e4e7ec5656c984708ad8823453ec425fa7/autoload/nnn.vim#L354

Maybe this function is not getting run?

[2021-05-17 19:20] jarun commented on #82
Fixed at https://github.com/jarun/nnn/commit/45ac90d5e66fe59bb88e5d64dbe9451c2edd60b1.

[2021-05-17 19:22] jarun commented on #71
Not sure. I am not familiar with vimscript. But I think we can get back to this later as this is not an issue for most users.

[2021-05-18 00:15] ldelossa commented on #82
Can confirm working now in vim 8. Thanks!!

[2021-05-18 00:23] mizlan commented on #61
Please be patient.

Anyway, taking a look over this, the first thing I question is, when a file is selected from the `nnn` file explorer, which existing window should it replace in case there are multiple? Should it be the window that was in focus before focus transferred to the `nnn` window? And if the `nnn` window is the only open window, should it open in a vertical split of some sort?

[2021-05-18 00:57] mizlan commented on #61
Since `nnn` (not `nnn.vim`) only writes to the picker file on exit, there is currently no way to use a persistent `nnn` window to navigate files and open corresponding files as buffers. One possibility I can foresee is `nnn` "flushing" to the picker file on some event/keypress, or some variation where there is an option where `<Enter>` can flush to the file without quitting the process. The issue,

[2021-05-18 00:59] mizlan commented on #61
@mcchrish This is an interesting idea, but could you elaborate a tad more? I have never quite thought about a curses process communicating via stdout. I guess it would be an alternative to the picker file, maybe `-p -` with Vim waiting for input.

[2021-05-18 01:12] jarun commented on #82
Thanks for the conformation.

[2021-05-18 01:15] jarun commented on #61
I think what the user is looking for is, `nnn` should not quit when files are picked using <kbd>Enter</kbd> and should stay put in the original buffer where it was opened.

[2021-05-18 01:16] jarun commented on #61
User provides the picker output file and whenever she acts (presses `Enter` on a file), `nnn` writes to it. No need to keep watching.

[2021-05-18 01:59] mizlan commented on #61
I guess we can have some keybind that is intercepted before it reaches `nnn`. But this would not interact with the picker file. Or if it would, Vim, would essentially act as a middle-man for the keybind.

[2021-05-18 02:13] jarun commented on #61
Yes, it seems so. We would need to change the behaviour of `nnn` closing when files are picked.

[2021-05-18 02:14] mcchrish commented on #61
Exactly `-p -` will output the selected files to stdout. And aside from exit callback, vim/nvim also accepts stdout callback that can handle stdout events, `:h termopen()`.

However, `nnn -p -` exits after selection. nnn probably should have an option to not exit and just rather clear the selection after pushing them to stdout.

[2021-05-18 02:16] mizlan commented on #61
I think we would need to use the stdout method since Vim must communicate with nnn first, them nnn communicates back with Vim.

[2021-05-18 02:19] jarun commented on #61
Sure!

[2021-05-18 02:42] mizlan commented on #61
I would love to help make the `-p -` feature work, and I am working on getting familiar with the `nnn` codebase. Do you have any ideas on which specific parts of the source code need to be changed?

[2021-05-18 02:48] jarun commented on #61
You'll have to follow the `picker` variable. Give me a day, I am getting rid of the other variable.

[2021-05-18 02:58] jarun commented on #61
Done with the change at https://github.com/jarun/nnn/commit/2bd72d1b29d968204421e9a479bc1c159a9dc490.

Now you can follow the `picker` and `picked` variables. `picker` says `nnn` should write selection to picker output file/stdout before exit. `picked` says some files were picked by a plugin.

[2021-05-18 04:53] mizlan commented on #61
I've tested it on both Vim8 (`out_cb`) and Neovim (`on_stdout`) and the issue is that for both of those, their callback prints the entire buffer every time I move around the `nnn` buffer with escape codes and all, not a separate stdout channel like I'd expect.

My logging output looks like this:

<img width="1677" alt="image" src="https://user-images.githubusercontent.com/44309097/118592041-27f158

[2021-05-18 10:38] mcchrish commented on #61
I'm trying some experiments a bit and see if might be helpful. I'm using neovim 0.4.4 and nnn 4.0.

A small vimscript to test out:
[code]

I'm getting the same result:
[code]

But if you take a look at the end, the selected files are found in the output:
[code]
It just seems like nnn outputs some other UI data/escape codes to stdout.

If I changed `termopen` command with a simple echo:
[code]
The

[2021-05-18 15:14] mizlan commented on #61
Thank you so much! Not sure if we should proceed with the `stdout_buffered` idea since I don't think Vim8 has an equivalent.

Have you considered the possibility of having `-p` output to a FIFO (named pipe)? I do not know too much about how this works but I suspect it may be easier.

[2021-05-19 13:43] jarun commented on #71
Closing this as somehow this feels to be a local issue than a generic issue. All people other than me in this thread don't see this. And it's not a big deal for me either.

[2021-05-19 13:43] #71 closed

[2021-05-19 13:48] jarun commented on #43
`nnn` now supports sessions. See options `-s`/`-S`. Option `-s` is probably better suited to have a specific session for the plugin.

@mcchrish @mizlan it this doable now, perhaps with an `nnn.vim` flag/setting that says enable session management?

[2021-05-19 13:50] jarun commented on #55
Marking it a duplicate of #43.

[2021-05-19 13:50] #55 closed

[2021-05-19 13:59] jarun commented on #66
Closing this as there's no response and new versions are available.
Please confirm with the latest and get back with the requested details if you still see the issue.

[2021-05-19 13:59] #66 closed

[2021-05-19 23:54] mizlan commented on #43
Sure! I'll work on this. Also, this seems like an approach we can use to simulate a classic directory viewer. That would entail reopening an `nnn` process with the session every time a file is chosen. We can probably do better with some change in `nnn` later but that's a workaround for now I guess.

[2021-05-20 00:11] mcchrish commented on #43
https://github.com/mcchrish/nnn.vim/blob/master/doc/nnn.txt#L149-L159 with this option, it should be possible to make use of sessions right away. They can pass any file they want for example:
[code]
Another possibility is to tweak `nnn#pick()` to accept a command option, example:
[code]
Which is probably the most flexible direction.

[2021-05-20 00:15] mcchrish commented on #43
Seems like a possible direction if stdout option doesn't work out https://github.com/mcchrish/nnn.vim/issues/43.

[2021-05-20 00:35] mizlan commented on #43
There are some annoying things with the way sessions currently work in upstream `nnn`. Namely, you cannot load a non-existent session name and have it created with `nnn -s <new_session_name>`. I am currently fixing this (was this behavior intentional?) and will push to `nnn` soon.

Please let me know if you do not happen to experience this issue. To be specific, you will see an `open failed` messa

[2021-05-20 01:00] mizlan commented on #43
Actually, I am understanding sessions incorrectly. I think it would be less suitable to call them "sessions" since they are more like "snapshots" that can be arbitrarily loaded and saved. What we would need is an option for named sessions to be saved on quit. All that needs to be done is to take the existing code for auto-saving the `@` default session and modify it for named sessions. However, we

[2021-05-20 01:10] mizlan commented on #43
Did you happen to test this? Because to my knowledge this isn't actually possible yet, read my prior comments for details.

[2021-05-20 01:40] mcchrish commented on #43
I have not. I assumed the behavior of `nnn` that it will automatically save the session on quit (or sync the session to the file every navigation). My bad.

[2021-05-20 02:59] mizlan commented on #43
This isn't really an issue to be concerned with as this isn't the default behavior anyway. Take a look at https://github.com/jarun/nnn/issues/1023#issuecomment-844646289 for more details.

[2021-05-20 04:32] jarun commented on #43
See https://github.com/jarun/nnn/issues/1023.

Persistent session option is global. So any session which is active at quit will be persisted. I don;t want more complexity in that. The "auto session" (@) will be used to restore the last working state when a session is loaded at runtime temporarily. Also "auto session" will be used (as it is now) to persist the session if no other session is active

[2021-05-20 05:18] mizlan commented on #43
May I assign myself this task? I think the interface should be kept simple. Maybe have a `g:nnn#session` variable which can have values `'none'` (default), `'global'` (the `@` session which allows syncing in and out of vim), or `'vim'` (a session named "vim" that only syncs within vim).

[2021-05-20 05:30] jarun commented on #43
Sure!

[2021-05-21 15:56] jarun commented on #43
Fixed at #96.

[2021-05-21 15:56] #43 closed

[2021-05-30 10:10] jarun commented on #93
Second update 2: I have switched to `nvim` and this issue is gone.

[2021-05-30 10:11] jarun commented on #71
Update: I have switched to `nvim` and this issue is gone for good.

[2021-05-30 21:32] mcchrish commented on #61
I'm not that familiar with named pipes and I look at some usage from other plugins and it looks promising.
https://github.com/vifm/vifm.vim/blob/dbe8050b137341e70ea9cf95194803b674144530/plugin/vifm.vim#L205-L237
We could create a named pipe where nnn picker will pipe the selected files to then vim/nvim runs a job that waits and reads (via stdout callback) from that named pipes.

[2021-05-30 21:33] #61 closed

[2021-05-30 21:44] jarun commented on #62
The original issue submitter [mentioned](https://github.com/mcchrish/nnn.vim/issues/62#issuecomment-699647971) he is not seeing this anymore. I am also not seeing _any_ glitches after moving to nvim.

For others who see this on vim - it's probably broken in vim. If you are on vim, consider moving to neovim.

We will not waste our time on vim-only issues going forward.

[2021-05-30 21:44] #62 closed

[2021-06-01 11:25] MarinPostma opened #99 "local sessions not working"
**Describe the bug**

I am trying to use the local session to keep track of where I am in my working tree, but nnn always reopens at the root of my workdir.

**To Reproduce**

1. open vim
2. run :call nnn#pick()
3. change directory
4. press escape to exit (or select the file)
5. reopen the nnn picker

**Expected behavior**

I expect nnn to be reopened in the last visited directory, but it reopens

[2021-06-01 11:34] MarinPostma commented on #99
after investingating a bit more, I have found that the session file is not created in the `.config/nnn/sessions` directory.

[2021-06-01 11:57] MarinPostma commented on #99
Ok, apparently the non persistent sessions are not saved automatically. I will open an issue on the nnn repository instead.

[2021-06-01 11:57] #99 closed

[2021-06-01 12:17] MarinPostma commented on #99
my bad, it apparently comes from the distribution from the AUR. This is now working.

[2021-07-23 02:22] snide commented on #86
@medwatt Just wanted to say thank you for your solution. This was bugging me and I couldn't figure it out. Been living with it for months, and then figured... lemme try and fix it. Your solution works great for me, because I don't need to use my mouse when I'm in the nnn window.

[2021-08-09 09:17] hrqmonteiro opened #107 "It takes forever to open, is it normal?"
**Describe the bug**

When i do :NnnPicker it takes more than 10 seconds to show nnn.

**To Reproduce**

Open vim, do :NnnPicker

**Expected behavior**

Not to take forever to open it...

**Screenshots**

https://user-images.githubusercontent.com/17055027/128684360-116067f2-4e35-4e2d-82d9-9c6f75e6d1e7.mp4

**Environment:**

- OS: Void Linux
- Terminal: kitty
- Shell: Fish 3.3.1
- Vim version: Neov

[2021-08-09 10:18] mcchrish commented on #107
Can you provide the minimum vimrc/init.lua that reproduce the problem? It would help a lot to isolate what's causing the issue.
Does nnn run ok outside of neovim (just on the plain terminal)?

[2021-08-09 10:32] hrqmonteiro commented on #107
If i run it with a minimal init.lua that just includes nnn.vim, the problem persists.

https://user-images.githubusercontent.com/17055027/128693540-69e72be2-0e0d-4f90-a518-5ee3ca7789ac.mp4

And yes, outside nvim nnn runs just fine.

[2021-08-09 11:19] hrqmonteiro commented on #107
I just updated my nvim config to a literal minimal config with just packer and nnn.vim

I removed all my plugins from `.local/share/nvim` and just installed these two.
Here's my [config](https://github.com/hrqmonteiro/dotfiles/tree/main/.config/nvim) for reference.

And it still takes more than 10 seconds to open nnn. Very strange.

https://user-images.githubusercontent.com/17055027/128698512-11b1

[2021-08-10 06:32] mcchrish commented on #107
Thanks for the details. Very strange indeed.
What shell are you using within vim? You can check using `:echo &shell`.
What happens when change it to something else like bash or zsh? You can change it using `set shell=`.

[2021-08-10 06:38] jarun commented on #107
The command that nnn.vim uses to invoke nnn, can you share that? Does that take long? How many contexts in nnn? Are you having sessions?

[2021-08-10 14:05] hrqmonteiro commented on #107
The default that `:echo &shell` returns is `/bin/fish`
I only have bash installed, if o do `:set shell /bin/bash`, nnn still takes the same amount of time to appear when i do `:NnnPicker`

I don't get what do you mean by that. How do i share it?

And no, i don't have sessions.

[2021-08-10 15:52] jarun commented on #107
The command is for @mcchrish to share.

[2021-08-10 22:46] mcchrish commented on #107
It's `nnn -p <tempfile>`.

[2021-08-10 23:28] jorgeegomez opened #108 "Action setting not working on vim 8.1"
The mappings set in the `nnn#action`  setting is being ignored, and sent as `select_action(key)` to n³. (I'm pretty sure it's the same issue that Jarun was seeing in #71)

To reproduce, in a clean Ubuntu 20.04 container, with default vim (8.1) and nnn 4.2:

Setup a minimal vim config:
[code]

Call the plugin, and press `c-h` on a file.

Expected: File opens in a new tab

Result: A new buffer opens

[2021-08-10 23:32] jorgeegomez commented on #108
Running `:tmap` while n³ is running (using `c-\` `c-n` keys, as suggested in #71 ), results in:
[code]

This is the same with any letter I've tried in `.vimrc`

[2021-08-11 01:31] mcchrish commented on #108
My guess would be `<cmd>` is a very recent addition to vim/neovim. Comparing https://github.com/mcchrish/nnn.vim/compare/v3.0.2...v3.2

Can you try the `no-cmd-map` branch if it helps? https://github.com/mcchrish/nnn.vim/tree/no-cmd-map

[2021-08-11 04:20] jorgeegomez commented on #108
Yes! that branch works with **vim 8.1** and **n³ 4.2** using the default mappings in the documentation.

For future reference, this is how to specify a branch of the plugin when using **vim-plug**, in `.vimrc`:

[code]

Thanks!

[2021-08-11 04:20] #108 closed

[2021-08-11 08:17] mcchrish commented on #108
@jorgeegomez I merged the branch to master. It should be ok to go back to the previous setup.

[2021-08-11 10:58] hrqmonteiro commented on #107
That worked!!
Although it didn't work setting it in lua, as you said.

I had to do

[code]

Now it is opening normaly. Thanks!

[2021-08-11 10:58] #107 closed

[2021-08-11 21:00] liambutterworth opened #109 "Not saving context state after opening a file"
I'm not entirely sure if this is a bug, an issue with my configuration, or just a workflow misunderstanding since I'm new to nnn. Currently I have nnn setup to use the global session. Say that I open up nnn in a float, navigate to some file a directory or two down, and then open it. What I expect to happen is the next time I open up nnn, it starts in the same place I opened the file. The only way

[2021-08-12 06:48] mcchrish commented on #109
I see the issue as well. When I try to run `nnn -S -p -` and then quit, the session remembers the directory. But when I pick a file(s) (pressing enter) it doesn't.
Seems to be an issue with nnn itself rather than the plugin.

[2021-08-12 06:51] mcchrish commented on #109
For the context part, does nnn let you exit with more than one open context? It seems to ask me to quit all context before exiting (pressing `Q`).

[2021-08-12 07:48] jarun commented on #109
There is an option to skip the confirmation. See nnn help.

[2021-09-08 03:39] kdheepak opened #112 "Typo in README"
**Describe the bug**

The README currently has this code snippet:

https://github.com/mcchrish/nnn.vim/blob/c4c4d9531726c11892e32daa977c958ad47f7b97/README.md#L153-L163

However, `copy_to_clipboard` is not defined. Can you add an example for what this should be?

[2021-09-08 04:34] mcchrish commented on #112
It's a function as seen here https://github.com/mcchrish/nnn.vim/releases/tag/v3.1
The example function writes the file paths into the clipboard.

I'll update the README to be more clear.

[2021-09-08 04:36] #112 closed

[2021-09-12 00:29] draibolit opened #113 "nnn changes the vim PWD to the directory which it quitted"
**Describe the bug**

As the title, the PWD in the session will be changed if I quit at the other directory rather than the started one.

This is my config
[code]
in my case, i need to source a bash environment in vim as my nnn is prebuilt one as following
[code]
and then the vim_bash file
[code]

[2021-09-12 09:08] mcchrish commented on #113
What version of nnn.vim are you using? Do you see still see the issue when using older versions?

[2021-09-12 12:21] draibolit commented on #113
I'm using 4.2 in both mac and ubuntu. I will check the older version later.

Currently my procedure using nnn.vim is to press <leader>n then do some actions in nnn (move, delete, etc..). After that I go back to the original directory before pressing "q".

[2021-09-12 23:04] mcchrish commented on #113
How about the version of this plugin, are you using the master branch?

Strangely enough, this bug is actually a feature I want to implement 😄. Being able to use nnn to change vim's pwd just like netrw.

[2021-09-14 09:50] draibolit commented on #113
I'm using this version in ubuntu 20.04
[https://github.com/jarun/nnn/releases/download/v4.2/nnn-icons-static-4.2.x86_64.tar.gz](url)

The thing is when I use nnn in the terminal, pressing 'q' will quit to the original directory.
There is probably some differences in vim environment.

[2021-09-16 12:36] ram02z commented on #113
I can also reproduce this on master nnn.vim and NVIM v0.6.0-dev+276-g685cf3981. I don't use nnn sessions either.

[2021-09-16 12:55] mcchrish commented on #113
Well seems this mechanism is implemented and merged for quite a while (wasn't aware at that time). Seem to be undocumented: https://github.com/mcchrish/nnn.vim/pull/70

It should only work with `<c-g>` though not `q`.

I'm guessing it's either some configuration that's causing this or a bug in nnn.

[2021-09-20 17:54] khuedoan commented on #109
Using `command = 'nnn -Q'` works for me, thanks @jarun

[2021-09-28 11:39] thevan96 opened #115 "Problem open file with l"
**Describe the bug**

I config -e nnn open file text with vim, but plugin nnn.vim, mapping l open file inside float terminal another open file(<cr>).
How open file with l(not inside float terminal)

[2021-09-30 17:22] N-R-K commented on #115
You can use the `-o` option to disable opening file on <kbd>l</kbd>, see `:help nnn#command`.

[2021-10-14 19:51] jarun commented on #113
It would also happen with `q` if `NNN_TMPFILE` is exported before calling `nnn`.

See the in-file doc: https://github.com/jarun/nnn/blob/master/misc/quitcd/quitcd.bash_zsh

[2021-10-22 06:07] mcchrish opened #128 "`:NnnExplorer` bugs and additional features"
- [x] `:NnnExplorer` should toggle the nnn window instead of opening a new window. #138
- [x] Each tab should only have one explorer window. #138
- [ ] Nice to have: option to have the same nnn buffer in all tabs.
- [x] Nice to have: option to change window background when not in focus. Sometimes it's hard to tell where the focus is. #135
- [ ] Set only `bufhidden=wipe` to `buflisted` to nnn picke

[2021-10-23 14:24] ram02z opened #133 "Error when using fzopen after changing directory"
**To Reproduce**

1. Add fzopen as a plugin
2. Invoke `NNNPicker`
3. Change directory
4. Invoke `fzopen` and pick a file
4. Error shown and the file doesn't get picked

**Screenshots**

![image](https://user-images.githubusercontent.com/59267627/138560382-46ef0056-0372-4d7d-9f4b-135d084c9743.png)

**Environment:**

- Vim version: NVIM v0.6.0-dev+501-gcb15055c2
- Plugin manager: packer.nvim
- Plugi

[2021-10-30 07:19] mcchrish commented on #128
@N-R-K the code looks fine.
I'm not sure I'd want this behavior though. But if some wants it, maybe a have a config to turn it on.

[2021-10-30 07:21] N-R-K commented on #128
@mcchrish I'm thinking about adding it to the docs similar to NERDTree.

[2021-10-31 15:00] N-R-K commented on #128
Any plans on how to implement this? I was trying out something like this, but this doesn't work well when called form a different tab.

[code]

[2021-10-31 23:01] mcchrish commented on #128
Maybe store in tab local variable instead of script?
[code]

[2021-11-01 03:45] N-R-K commented on #128
#138 should take care of both of these.

[2021-11-01 04:29] jarun commented on #133
@mcchrish can you please take a look at it? Are you waiting for someone to pitch in?

[2021-11-01 04:32] mcchrish commented on #133
@jarun I'm waiting for anyone to take a look.
PR is welcome and I can take a review.

[2021-11-01 04:34] jarun commented on #133
In that case please respond to the defect with a note so someone else bothers to look into it.
What appears to be the problem? Do the error strings help?

[2021-11-01 04:45] N-R-K commented on #133
This is probably a problem with `fzopen` plugin. I don't use it, so I'm not sure what's going on here. But seems to me that is the offending snippet.

[code]

[2021-11-01 06:35] N-R-K commented on #133
Added the "help wanted" label so if anyone who's interested can take a look.

[2021-11-01 06:41] jarun commented on #133
@N-R-K fzopen is working as expected in this block. This is a case of calling a picker plugin while `nnn` is started in picker mode. See `$3` in https://github.com/jarun/nnn/tree/master/plugins#access-level-of-plugins

So, if user is picking files using `fzopen()`, `nnn` should not pick files. The picker output file path is passed to the plugin (`-` if it's stdout) and the plugin will write picked

[2021-11-01 06:42] jarun commented on #133
@mizlan can you please have a look?

[2021-11-01 06:56] N-R-K commented on #133
Can reproduce this with a dummy plugin with that block.
* Open NnnPicker
* Hover over a file and invoke the dummy plugin

[code]

[2021-11-01 07:19] jarun commented on #133
In explorer mode, it just opens the plugin file.

[2021-11-01 07:23] jarun commented on #133
That's with pick a plugin method... and expected as per current code.

[2021-11-01 07:25] N-R-K commented on #133
Okay, I know what's going on. The plugin is printing only filename, not full path. So if you change directory it becomes a problem.

[2021-11-01 07:26] jarun commented on #133
OK. I fixed the other issue with opening the plugin (instead of run) at https://github.com/jarun/nnn/commit/bdbd182c65cee58c2d09374a93a9ca3425e4ab7b.

[2021-11-01 08:23] #133 closed

[2021-11-01 08:24] jarun commented on #133
@ram02z the fzopen plugin is fixed. Please confirm if the patch works for you.

[2021-11-01 08:41] mcchrish opened #141 "Explorer window does not close properly when multi tabs have their own opened explorer window"
Env:
- neovim
- zsh

Steps:
- I open an explorer in one tab then open another explorer in another tab.
- I then quit the explorer window in one tab then go to the other tab and quit the explorer window as well.
- I get a process exit 0 message instead of closing the window:
<img width="287" alt="Screen Shot 2021-11-01 at 4 37 05 PM" src="https://user-images.githubusercontent.com/7200153/139644641-

[2021-11-01 08:44] N-R-K commented on #141
I believe I mentioned this issue somewhere in #128 . My hunch is that it has something to do with the `explorer_create_on_exit_callback` function.

[2021-11-02 07:12] #141 closed

[2021-11-06 11:56] ram02z commented on #133
The patch works great, thanks for the fix @N-R-K !

[2021-12-02 22:29] N-R-K opened #147 "Picker picks the wrong file if a directory with similar name exists"
## To Reproduce

1. Create the a dir/file `test/a` and a file named `test.file`

[code]

2. Open `test/a` in vim
3. Open NnnPicker
4. Go back a directory and try to pick `test.file`

## Expected behavior

It should pick `../test.file` but instead it tries to open `../file`

## Environment:

- Terminal: XTerm and ST
- Shell: zsh
- Vim version: vim 8.2
- Plugin version: master

[2021-12-04 00:08] mcchrish commented on #147
I can replicate the issue.

Seems to be related to trimming the CWD from the file path.

[2021-12-04 23:53] #147 closed

[2021-12-21 21:38] 0xRZ opened #150 "clipboard does not work"
**Describe the bug**

When leaving nnn clipboard content seems to dissapear

**To Reproduce**

So i have this `init.vim`
[code]
and this bash script which i use as an nnn module
[code]
I set module as `export NNN_PLUG="y:nnn_file_path_yank;"` in my .zshrc

And when i launch nnn from inside neovim, do `;y` and quit nnn, clipboard content dissapears. Even though it's there until i quit nnn, i can pa

[2022-01-03 23:23] chriszarate opened #152 "ftplugin sets a global option (`noshowmode`)"
**Describe the bug**

The file `ftplugin/nnn.vim` sets `noshowmode`, which is [**global**](http://vimdoc.sourceforge.net/htmldoc/options.html#'showmode'). After using `nnn.vim`, the mode is no longer visible on the last line.

**To Reproduce**

Steps to reproduce the behavior and with the **most minimal configuration**.
With only nnn.vim installed and additional configurations/plugins that helps r

[2022-01-03 23:28] #152 closed

[2022-01-03 23:37] N-R-K commented on #150
Try this out and report back if it works or not.

[code]

[2022-02-05 19:00] jarun commented on #150
Closing as no response.

[2022-02-05 19:00] #150 closed

[2022-02-05 19:01] jarun commented on #113
Closing as no response from submitter.

[2022-02-05 19:01] #113 closed

[2022-02-20 10:25] ShiranC opened #154 "When NnnExplorer is invoked via <Leader> key combination the first 10 entries are already tagged ????"
When NnnExplorer is invoked as a command ( ie. ":NnnExplorer" ), everything works as expected.

When NnnExplorer is invoked via a <leader> key combination (ie. nnoremap <silent> <leader>x :NnnExplorer<cr> ), the window opens up showing the directory structure but the first 10 entries are ALREADY tagged .

**Environment:**

- OS: macOS 10.15.7
- Terminal: iterm2 3.5.0beta4
- Shell: zsh 5.8.1 (x86_6

[2022-02-20 10:28] ShiranC commented on #154
correction to mapping of leader key

nnoremap <silent> <leader>x :NnnExplorer<cr>

[2022-02-20 10:29] ShiranC commented on #154
"nnoremap <silent> <leader>x :NnnExplorer<cr>"

[2022-02-20 10:31] ShiranC commented on #154
[code]

[2022-02-20 10:31] #154 closed

[2022-02-20 10:56] N-R-K commented on #154
Can't reproduce. Works fine for me in both XTerm and ST using vim v8.2.

[2022-02-20 11:10] ShiranC opened #155 "Unexpected behavior when "NnnExplorer" is invoked via a <leader>key combination."
When NnnExplorer is invoked as a command ( ie. ":NnnExplorer" ), everything works as expected.

When NnnExplorer is invoked via a key combination
[code]
the window opens up showing the directory structure but the first 10 entries are ALREADY tagged .

Environment:

OS: macOS 10.15.7
Terminal: iterm2 3.5.0beta4
Shell: zsh 5.8.1 (x86_64-apple-darwin19.6.0)
Vim version: Vim 8.2 (2019 Dec 12, compiled

[2022-02-25 23:01] mcchrish commented on #155
I can't reproduce the problem. Here's my minimal vimrc https://github.com/mcchrish/dotfiles/blob/8b4317e856c35c6738d04c9eeccd392413e17001/vim/.vim/vimrc

[2022-03-05 10:39] N-R-K commented on #155
Can't reproduce either, tested on both XTerm and ST using vim v8.2.

@ShiranC The most likely situation is that you have another plugin that's interfering with the keybinding. Try to disable all other plugin and use a minimal/no vimrc and see if you still have the issue or not.

[2022-03-12 18:18] heynemann opened #156 "Error when mapping action to <backspace>"
**Describe the bug**

When adding action to call a function when `<backspace>` is pressed. I get an error:
[code]

**To Reproduce**

Add this config on top of nnn.vim:

[code]

1. Open vim
2. Press key <leader>n
3. Press key <backspace>
4. See error

**Expected behavior**

Should call my function (and in turn close explorer).

**Environment:**

- OS: macos
- Terminal: iterm2
- Shell: zsh
- Vim ver

[2022-03-12 22:09] heynemann commented on #156
The problem seems to be related to explorer as using nnn#pick it works.

[2022-03-12 22:13] heynemann commented on #156
It works now with any <c- key, but not with <escape> or <backspace>. (and not in explorer, only in pick)

[2022-03-14 08:18] mcchrish commented on #156
I can reproduce the problem. However, I would suggest an alternative (better) way to achieve the behavior you want:
[code]
Or place the mapping in `ftplugin/nnn.vim`.

A problem though with mapping backspace with q is that, backspace will not work as intended in moments like entering texts in renaming files/new file name etc.

[2022-03-19 09:12] N-R-K commented on #155
Closing since we can't reproduce and no replies from OP.

[2022-03-19 09:12] #155 closed

[2022-05-27 19:45] 0xRZ commented on #150
@N-R-K yeah, it works, ty

[2022-07-07 03:27] dave-kennedy commented on #128
This seems a good place to mention the mappings defined by `g:nnn#action` do not appear to work from the explorer view.